<div id='main'>
  <div class="container">

    <% if @setting.errors.any? %>
      <ul id='setting-errors'>
        <% @setting.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <%= form_for [:admin, @setting], :html => { :id => 'setting-form' } do |f| %>
      <% [:for_sale, :housing, :jobs].each do |field| %>
        <%= f.label field %>
        <%= f.text_field field %>
      <% end %>
      <%= f.submit %>
    <% end %>

  <table class="posts">
    <colgroup>
      <col class='for_sale' />
      <col class='housing' />
      <col class='jobs' />
    </colgroup>
    <tr>
      <th>For Sale</th>
      <th>Housing</th>
      <th>Jobs</th>
    </tr>
    <tr class="row-0">
      <td class='number'><%= @setting.for_sale %></td>
      <td class='number'><%= @setting.housing %></td>
      <td class='number'><%= @setting.jobs %></td>
    </tr>
  </table>
  </div>
</div>

