<%= form_for [:admin, @post], :html => { :multipart => true } do |f| %>
  <table class='post-form'>
    <colgroup>
      <col class='label'>
      <col class='value'>
    </colgroup>

    <tr>
      <td><%= f.label :category_id %></td>
      <td><%= f.select :category_id, CATEGORIES.map{ |k, v| [v[:short_name], k] } %></td>
    </tr>

    <tr>
      <td><%= f.label :subcategory_id %></td>
      <td><%= f.select :subcategory_id, [] %></td>
    </tr>

    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name, :maxlength => 254 %></td>
    </tr>

    <tr>
      <td><%= f.label :email %></td>
      <td><%= f.text_field :email, :maxlength => 254 %></td>
    </tr>

    <tr>
      <td><%= f.label :body %></td>
      <td><%= f.text_area :body %></td>
    </tr>

    <tr>
      <td><%= f.label :status %></td>
      <td><%= f.select :status, Post::STATUSES.map{ |k, v| [v, k] } %></td>
    </tr>

    <tr>
      <td><%= f.label :featured %></td>
      <td><%= f.check_box :featured %></td>
    </tr>

    <% if @post.new_record? %>
      <tr>
        <td><%= f.label :timestamp_posted %></td>
        <td>
          <% Post::TIMESTAMP_TYPES.each do |k, v| %>
            <div>
              <%= f.radio_button :timestamp_type, k %>
              <%= label_tag "post_timestamp_type_#{k}", v %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>

    <% (1..4).each do |idx| %>
      <% field = :"image_source#{idx}" %>
      <tr>
        <td><%= f.label field %></td>
        <td>
          <%= image_tag @post.send(field).url(:post), :class => 'post-image' if @post.persisted? %>
          <%= f.file_field field %>
        </td>
      </tr>
    <% end %>

    <tr>
      <td>&nbsp;</td>
      <td><%= f.submit %></td>
    </tr>
  </table>
<% end %>
