<%= content_for :css do %>
  <%= stylesheet_link_tag 'jquery-ui-timepicker-addon' %>
<% end %>

<%= content_for :js do %>
  <script type="text/javascript">
    CSA = <%= CATEGORY_SUBCATEGORIES_ARRAY.to_json.html_safe %>;
  </script>

  <script id="option-template" type="text/x-jquery-tmpl">
    <option value="${id}">${name}</option>
  </script>

  <%= javascript_include_tag "admin", "jquery-ui-timepicker-addon" %>
<% end %>

