<%= form_tag url, :method => :get, :id => 'search-form' do %>
  <%= select_tag :field, options_for_select(Post::FIELDS_FOR_SEARCH, :selected => params[:field]) %>
  <%= text_field_tag :query, params[:query], :id => 'search-box' %>
  <%= submit_tag 'Search', :id => 'search-button', :name => nil %>
<% end %>
