<%= render 'admin/posts/js_css' %>

<div id="main">
  <div class="container">
    <%= render 'shared/error_messages' %>

    <div id="post-form">
      <%= render 'form' %>
    </div>
  </div>
</div>

