<div id='main'>
  <div class="container">

  <%= render 'search', :url => imported_admin_posts_path %>

  <table class="imported-posts">
    <colgroup>
      <col class="id" />
      <col class='name' />
      <col class='category' />
      <col class='subcategory' />
      <col class='status' />
      <col class='poster' />
      <col class='posted-date' />
      <col class='photo' />
      <col class='3taps-id' />
      <col class='url' />
      <col class='url' />
    </colgroup>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th>Status</th>
      <th>Poster</th>
      <th>Posted Date</th>
      <th>Photo?</th>
      <th>3taps ID</th>
      <th>Url</th>
      <th>Original Url</th>
    </tr>
    <% @posts.each_with_index do |p, index| %>
      <tr class="row-<%= index % 2 %>">
        <td class='center'><%= p.id %></td>
        <td><%= link_to p.name, edit_admin_post_path(p) %></td>
        <td><%= p.category %></td>
        <td><%= p.subcategory %></td>
        <td class='center'><%= p.status_name %></td>
        <td><%= p.email %></td>
        <td class='center'><%= p.full_date %></td>
        <td class="has-photo-<%= p.has_photo? %>">&nbsp;</td>
        <td class='center'><%= p.threetaps_id %></td>
        <td class='center'><%= link_to 'View', post_path(p),   :target => '_blank' %></td>
        <td class='center'><%= link_to 'View', p.external_url, :target => '_blank' %></td>
      </tr>
    <% end %>

  </table>

  <%= show_pagination(@posts) %>

  </div>
</div>

