<div id='main'>
  <div class="container">

  <%= render 'search', :url => admin_posts_path %>

  <table class="posts">
    <colgroup>
      <col class='id' />
      <col class='name' />
      <col class='category' />
      <col class='subcategory' />
      <col class='status' />
      <col class='poster' />
      <col class='posted-date' />
      <col class='featured' />
      <col class='photo' />
      <col class='url' />
    </colgroup>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th>Status</th>
      <th>Poster</th>
      <th>Posted Date</th>
      <th>Featured?</th>
      <th>Photo?</th>
      <th>URL</th>
    </tr>
    <% @posts.each_with_index do |p, index| %>
      <tr class="row-<%= index % 2 %>">
        <td><%= p.id %></td>
        <td><%= link_to p.name, edit_admin_post_path(p) %></td>
        <td><%= p.category %></td>
        <td><%= p.subcategory %></td>
        <td class='center'><%= p.status_name %></td>
        <td><%= p.email %></td>
        <td class='center'><%= p.full_date %></td>
        <td class="<%= p.featured? ? 'featured-post' : 'normal-post' %>">&nbsp;</td>
        <td class="has-photo-<%= p.has_photo? %>">&nbsp;</td>
        <td class='center'><%= link_to 'View', post_path(p), :target => '_blank' %></td>
      </tr>
    <% end %>

  </table>

  <%= show_pagination(@posts) %>

  </div>
</div>

<script type='text/javascript'>
  jQuery(document).ready(function () {
    jQuery('#search-form #field').find('option[value=threetaps_id]').remove();
  });
</script>

