<div id='main'>
  <div class="container">
    <div class='clearfix overview-header'>
      <div id="overview" class='left'>
        Total posts will appears in next time:
        <span><%= @posts.total_entries %><span>
      </div>

      <div id='sort' class="right">
        <%= sort_link(@sort_type) %>
      </div>
    </div>

    <table class="posts">
      <colgroup>
        <!--<col class="checkbox" />-->
        <col class='name' />
        <col class='category' />
        <col class='subcategory' />
        <col class='status' />
        <col class='poster' />
        <col class='photo' />
      </colgroup>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Subcategory</th>
        <th>Status</th>
        <th>Poster</th>
        <th>Photo?</th>
      </tr>
      <% @posts_by_date.each do |date, posts| %>
        <tr class="header">
          <td colspan="6">
            <div class='date'>
              <span class='label'>Date:</span>
              <span class="value"><%= date.strftime("%b %d, %Y") %></span>
            </div>
            <div class='total'>
              <span class='label'>Total:</span>
              <span class="value"><%= posts.size %></span>
            </div>
          </td>
        </tr>
        <% posts.each_with_index do |p, index| %>
        <tr class="row-<%= index % 2 %>">
          <td><%= link_to p.name, edit_admin_post_path(p) %></td>
          <td><%= p.category %></td>
          <td><%= p.subcategory %></td>
          <td class='center'><%= p.status_name %></td>
          <td><%= p.email %></td>
          <td class="has-photo-<%= p.has_photo? %>">&nbsp;</td>
        </tr>
        <% end %>
      <% end %>

    </table>

    <%= show_pagination(@posts) %>

  </div>
</div>
