<div id="jobs">
  <!-- Header -->
  <div class="job_header">
    <div class="job_title">Post Your Jobs for <%= SITE_CONFIG[:university] %> Students</div>

    <div class="job_phone_and_email">
      <div class="phone">Questions: 1.888.372.8478</div>
      <div class="contact_email">
        <%= mail_to SITE_CONFIG[:contact_email], SITE_CONFIG[:contact_email], :subject => SITE_CONFIG[:site_name] %>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="job_photo">
      <%= image_tag "job_header.jpg" %>
    </div>
  </div><!-- End of Header -->

  <div class="clearfix"></div>

  <!-- Job middle section -->
  <div class="job_middle">
    <div class="left_information">
      <!-- Wufoo Form -->
      <div class="wufoo_form">
        <%= render 'job_post_form' %>
      </div><!-- End of Wufoo Form -->


    </div><!-- End of Left information -->

    <!-- Right information -->
    <div class="right_information">
      <!-- Subscriber -->
      <div class="subscriber">
        <%= link_to "Already subscribed?", subscriber_jobs_path %>
      </div>

      <!-- Why post job -->
      <div class="why_job_post">
        <div class='header_line'>
          Why Post Your Job on <%= SITE_CONFIG[:site_name] %>?
        </div>
        <div class='job_post_point'>
          <%= SITE_CONFIG[:site_name] %> is a classifieds marketplace for <%= SITE_CONFIG[:university] %> students. <%= SITE_CONFIG[:university] %> students visit <%= SITE_CONFIG[:site_name] %> everyday to buy and sell stuff, e.g., bikes, books, cars.
        </div>
        <div class='job_post_point'>
          <%= SITE_CONFIG[:site_name] %> provides access to <%= SITE_CONFIG[:university] %> students and increases the visibility of your job openings. <%= SITE_CONFIG[:university] %> ranks as a world-class educational institution. These talented <%= SITE_CONFIG[:university] %> students want to know about your job opportunities!
        </div>
        <div class='job_post_point'>
          Sign up to post three jobs per month for a subscription of $299 per month.
        </div>

      </div>

      <!-- Video student -->
    </div><!-- End of Right Information -->

  </div><!-- End of Job middel section -->

  <div class="clearfix"></div>
</div>

