<div id="subscriber">
  <div class="unsubscribe">
    <%= link_to "Unsubscribe?", unsubscribe_jobs_path %>
  </div>

  <!-- Wufoo Form -->
  <div class="wufoo_form">
    <%= render 'subscriber_form' %>
  </div>
</div>

