<div id="job_success">
  <h1>Thank you</h1>

  <p>
    Your job post will be published on <%= SITE_CONFIG[:site_name] %> within 24 hours.
  </p>
  <p>
    You will receive an email receipt and instructions on how to make additional job posts.
  </p>
  <div>
    <%= link_to "Return to #{SITE_CONFIG[:site_name]}", root_path %>
  </div>

</div>

