<div class="category round <%= category[:css] %>">
	<div class="category_title <%= category[:icon] %>">
	  <%= category_tag category, activity %>
	</div>
	<%= render "shared/navigation/subcategories",
	           :subcategories => CATEGORY_SUBCATEGORIES_ARRAY[category[:id]],
	           :column => category[:column] %>
</div>

