<% CATEGORIES_ORDER[0..2].each do |cid| %>
  <%= render "shared/navigation/category",
             :category => CATEGORIES[cid],
             :activity => category_activity[cid]  %>
<% end %>

<p class="job_post_link_lower">
	<%= buy_job_post_link %>
</p>

<% CATEGORIES_ORDER[3..-1].each do |cid| %>
  <%= render "shared/navigation/category",
             :category => CATEGORIES[cid],
             :activity => category_activity[cid] %>
<% end %>

