<div class="overview round">
	<h2><%= link_to "overview", posts_path %></h2>
	<ul>
	  <% CATEGORIES_ORDER.each do |cid| %>
	    <%= category_overview_tag(CATEGORIES[cid], category_activity[cid]) %>
	  <% end %>
	</ul>
</div>

