<table>
	<tr>
		<td>
		  <% if column == 1 %>
		    <ul>
		      <% subcategories.each do |s| %>
            <%= subcategory_tag s %>
		      <% end -%>
		    </ul>
		  <% elsif column == 2%>
		    <% mid = subcategories.length / 2 %>
		    <ul>
          <% subcategories[0..(mid-1)].each do |s| %>
            <%= subcategory_tag s %>
          <% end -%>
        </ul>
        <ul>
          <% subcategories[mid..-1].each do |s| %>
            <%= subcategory_tag s %>
          <% end -%>
        </ul>
		  <% end %>
		</td>
	</tr>
</table>

