<div class="categories">
  <h1>What type of post is this?</h1>
  <ul>
    <%- CATEGORIES_WITHOUT_JOBS_ORDER.each do |cid| -%>
      <li>
        <%= link_to CATEGORIES[cid][:name], add_posts_path(:cat => cid) %>
      </li>
    <%- end -%>
    <li><%= link_to CATEGORIES[1][:name], add_posts_path(:cat => CAMPUS_JOBS_CATEGORY_ID) %></li>
    <li><%= link_to CATEGORIES[2][:name], SITE_CONFIG[:job_url] %></li>
  </ul>
</div>
