<%= render 'shared/error_messages' %>
<%= form_for @post, :url => add_posts_path(:cat => params[:cat], :sub => params[:sub]), :html => {:multipart => true} do |f| %>
  <%= f.hidden_field :category_id %>
  <%= f.hidden_field :subcategory_id %>
  <%= f.hidden_field :ip %>

  <table class="new-post">
    <tr>
      <td class="labelCol"><%= f.label :name, "Post Title" %></td>
      <td class="fieldCol"><%= f.text_field :name, :maxlength=>"70" %></td>
    </tr>

    <tr>
      <td class="labelCol"><%= f.label :body, "Post Description" %></td>
      <td class="fieldCol"><%= f.text_area :body %></td>
    </tr>

    <tr>
      <td class="labelCol"><%= f.label :email, "Your Email" %></td>
      <td class="fieldCol">
        <%= f.text_field :email, :maxlength => "70"  %>
        <p>
          We need your email to send you the self-publishing link. This email will not be visible on the website.
          <br>
          Use a <%= SITE_CONFIG[:symbol_email] %> email to post for free.
        </p>
      </td>
    </tr>

    <tr>
      <td class="labelCol">
        <label>Photos</label>
        <p>(optional)</p>
      </td>

      <td>
        <table class="new-post-photos">
          <tr class="first-row">
            <td><%= f.file_field :image_source1 %></td>
            <td><%= f.file_field :image_source2 %></td>
          </tr>
          <tr>
            <td><%= f.file_field :image_source3 %></td>
            <td><%= f.file_field :image_source4 %></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <div class="actions"><%= f.submit "Preview", :name => :preview %></div>
<% end %>
