<% if @post.from_craigslist? %>
  <%= mail_to @post.email, "Reply", :subject => "Re: #{@post.name}", :target => "_top", :id => "big-reply-button" %>
<% elsif flash[:saved] %>
  <div id="info"><%= flash[:notice] %></div>
<% else %>
  <div id="message_box">
    <%= form_for [@post, @message] do |f| %>
      <div class="title">Message Poster</div>
      <div>Message:</div>
      <div>
        <%= f.text_area :message, :class => "message_body" %>
        <div class="message-error"><%= flash[:message_error] %></div>
      </div>

      <div>Your Email:</div>
      <div>
        <%= f.text_field :email, :class => "email" %>
        <div class="email-error"><%= flash[:email_error] %></div>
      </div>
      <div class="submit">
        <%= f.submit "Send!" %>
      </div>
    <% end %>
  </div>
<% end %>
