<div class="post <%= @post.css %>">
  <h1><%= @post.name %> <%= edu_tag(@post) %></h1>
  <div class="reply">
    <p><label>Reply to:</label> Use the form at the right to send messages to this user.</p>
    <p><label>Date:</label> <%= @post.time %></p>
  </div>

  <table>
    <tr>
      <td class="body">
        <%= photos_tag(@post.photos) %>
        <div class="body_post">
          <%= post_body_tag(@post.body) %>
        </div>
      </td>
      <td class="message_poster">
        <% unless params[:controller] == "posts" && params[:action] == "preview" %>
          <%= render "message_poster" %>
        <% end %>
      </td>
    </tr>
  </table>

  <div class="other_services_messages">please do not message this poster about other commercial services</div>
</div>

