<div class="subcategories">
  <h1>Please choose a category:</h1>
  <ul>
    <%- Post.subcategories(category[:id]).each do |subcategory| -%>
      <li>
        <%= link_to subcategory[:name], add_posts_path(:cat => category[:id], :sub => subcategory[:id]) %>
      </li>
    <%- end -%>
  </ul>
</div>
