<div id="publish_success" class="message activate">
	<div id="deleted">Deleted</div>

  <div>Your post is now deleted.</div>

	<div id="republish">
		<%= link_to "Republish your post", publish_post_path(@post) %>
	</div>

	<div class="return"><%= link_to "Return to #{SITE_CONFIG[:site_name]}", root_path %>.</div>
</div>

