<div class="posts <%= posts_css(@posts.first) %>">
  <h1><%= posts_header(@posts.first) %></h1>

  <ul class="post-list">
    <%= render @posts %>
  </ul>

  <% if @posts.previous_page || @posts.next_page %>
    <nav>
      <%= pagination %>
    </nav>
  <% end %>
</div>

