<div class='publish_instructions'>
	<div class="publish_message">
		<h2>You will receive an email shortly,</h2>containing a link that will allow you to
			<h3>publish your post.</h3>
				<span class='important'>PLEASE KEEP THIS EMAIL</span> -- you will need it to delete your post when you are done.<br></br>
				<div>
					Your email provider might misfile this mail as spam. <span class="checkSpam">Please check your spam folders.</span><br></br>
				If you do not receive this email, please consult our <%= link_to "help pages", help_path %>.
				</div>
  </div>

	<div class='thankyou'>

		Thank you for using <%= SITE_CONFIG[:site_name] %>!
		<ul>
			<li><%= link_to "Start another post.", new_post_path %></li>
			<li><%= link_to "Return to #{SITE_CONFIG[:site_name]}.", root_path %></li>
		</ul>
	</div>

</div>

