<div class="add">
  <div class="title"><%= "(#{SITE_CONFIG[:university]})" %></div>

  <% if @category.present? && @subcategory.present? %>
    <%= render "form" %>
  <% elsif @category.blank? %>
    <%= render "categories" %>
  <% else %>
    <%= render "subcategories", :category => @category %>
  <% end %>
</div>
