<% unless @post.from_university? %>
  <div id="formstack-section">
    <% product = @post.product.to_s.upcase.gsub("-", "_") %>
    <div class="formstack-header">
      <span class="instruction"><%= FORMSTACK["INSTRUCTIONS"] %></span>
      <span class="price"><%= FORMSTACK[product] %></span>
    </div>

    <%= render_formstack @post %>
  </div>
<% end %>

<%= render :partial => "posting" %>

<% if @post.from_university? %>
  <%= form_tag continue_post_path(@post) do %>
    <div class="actions_preview_btn">
      <%= submit_tag 'Continue', :name => :continue %>
    </div>
  <% end %>
<% else %>
  <br>
  <br>
<% end %>
