<div id="publish_success" class="message activate">
  <div class="thanks">Thank you</div>
  Your post is now published.
  <div class="big_links">
	  <span id="view">
		  <%= link_to "View your post", post_path(@post) %>
	  </span>
  </div>

  <div class="big_links">
	  <span id="delete">
		  <%= link_to "Delete your post", delete_post_path(@post) %>
	  </span>
	</div>
  <div class="return"><%= link_to "Return to #{SITE_CONFIG[:site_name]}", root_path %>.</div>
</div>

