body {
  min-width: 950px;
}

#post-form {
  .col {
    width: 100%;

    .field {
      padding: 5px;
      width: 100%;

      select, input, textarea {
        margin: 0;
        padding: 0;
      }

      select, input[type=text], textarea {
        width: 800px;
      }

      textarea {
        height: 400px;
      }

      input[type=submit] {
        padding: 5px;
        width: 120px;
      }

      .label, .value {
        float: left;
        * {
          vertical-align: middle;
        }
      }

      .label {
        width: 140px;
      }

      .value {
        .image {
          padding-bottom: 5px;
        }
      }
    }
  }
}

.field_with_errors {
  display: table;
  background-color: red;
  label {
    color: #fff;
    font-weight: bold;
  }
  margin: 5px 0;
  padding: 5px 0;
}

#error_explanation {
  width: 100%;
  border: 2px solid red;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 10px;
    font-size: 13px;
    background-color: #c00;
    color: #fff;
  }

  p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
    margin-top:10px;
    font-size: 1.25em;
  }

  ul {
    margin-left: 30px;
    li {
      font-size: 13px;
      list-style: square;
    }
  }
}


#header {
  height: 54px;
  line-height: 54px;
  background-color: #171717;

  .logo {
    display: block;
    color: white;
    font-size: 2.25em;
    text-decoration: none;
    height: 54px;
    line-height: 54px;
    background-color: white;

    img {
      padding: 3px 0;
    }
  }

  #submenu {
    .link {
      padding: 5px 10px;
      margin: 0 5px;
      background-color: rgba(0, 0, 0, 0.8);
      border: 1px solid #171717;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;

      &:hover {
        background-color: rgba(130, 130, 130, 0.6);
        border: 1px solid #a8a8a8;
        text-decoration: none;
      }
    }
  }
}

#menu .link, #submenu .link {
  color: #DADBB1;
  font-weight: bold;
}

#menu {

  background-color: #3B3B3B;
  height: 36px;
  line-height: 36px;
  border-bottom: 5px solid #CCC;

  .link {
    display: block;
    padding: 0 10px;

    &:hover {
      text-decoration: none;
    }

    &.selected {
      text-decoration: none;

      &:hover {
        //text-decoration: underline;
      }
    }
  }

  .link:hover,
  .selected {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
  }

}

.overview-header {
  line-height: 24px;

  #overview {
    font: {
      size: 1.25em;
      weight: bold;
    }
    color: #F70;
    span {
      color: white;
      background: green;
      @each $prefix in '-moz', '-webkit', '' {
        #{$prefix}border-radius: 8px;
      }
      padding: 2px 5px;
    }
  }

  #sort {
    .label {
      font-weight: bold;
    }
  }
}


table.posts, table.imported-posts {
  width: 100%;
  border: 1px solid #999;
  border-collapse: separate;
  border-spacing: 1px;

  colgroup {
    .checkbox {
      width: 32px;
    }
    .name {
      width: 200px;
      min-width: 200px;
    }
    .category {
      width: 120px;
    }
    .subcategory {
      width: 120px;
    }
    .status {
      width: 85px;
    }
    .poster {
      width: 200px;
    }
    .posted-date {
      width: 95px;
    }
    .photo {
      width: 55px;
    }
    .error-id {
        width: 100px;
    }
    .time {
      width: 150px;
    }
    .message {
      width: 500px;
    }
    .action {
      width: 40px;
    }
  }

  tr {
    &.row-0 td {
      background-color: #E5ECF9;
    }
    &.row-1 td {
      background-color: white;
    }

    &.header {

      td {
        background-color: #F7F7F7;
        color: white;

        font: {
          size: 1em;
          weight: bold;
        }

        .date {
          float: left;
          width: 140px;
        }

        .total {
          float: left;
        }

        span {
          &.label {
            text-decoration: underline;
            color: #F70;
            margin-right: 5px;
          }

          &.value {
            color: white;
            background: green;
            @each $prefix in '-moz', '-webkit', '' {
              #{$prefix}border-radius: 8px;
            }
            padding: 2px 5px;
          }
        }
      }
    }
  }

  th, td {
    padding: 5px;
    margin: 5px;
  }

  th {
    text-align: center;
    background-color: #6D6D6D;
    color: white;
  }

  @each $pos in left, right, center {
    td.#{$pos} {
      text-align: #{$pos};
    }
  }

  td.number {
      text-align: right;
  }

  td.top {
    vertical-align: top;
  }

  td.action a {
    text-decoration: none;
    font-size: 18px;
  }

  td.has-photo-true {
    background: {
      image: url(../images/camera_small.gif) !important;
      repeat: no-repeat !important;
      position: center center !important;
    }
  }

  td.featured-post {
    background: {
      image: url(../images/featured.png) !important;
      repeat: no-repeat !important;
      position: center center !important;
    }
  }

  &.error-details {
    th {
      vertical-align: top;
      text-align: left;
      background-color: #fff;
      color: black;
    }

    td {
      background: #fff !important;
    }
  }
}

table.post-form {
  width: 100%;
  border-collapse: separate;

  colgroup {
    .label {
      width: 160px;
    }
  }

  tr {
    td, th {
      padding: 5px;
      margin: 5px;
    }
    select, input[type='text'], textarea {
      width: 780px;
      margin: 0;
      padding: 10px;
    }
    select {
      border-color: #BBB;
      width: 802px;
    }
    textarea {
      resize: none;
      height: 360px;
    }
    input[type='checkbox'], input[type='radio'] {
      padding: 0;
      margin: 0;
    }
    label, input[type='radio'] {
      vertical-align: middle;
    }
    input[type='submit'] {
      padding: 10px;
      width: 120px;
    }
    img.post-image {
      display: block;
      margin-bottom: 5px;
    }
  }
}

a.back-to-errors {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

.login-form {
  margin: auto;
  width: 220px;
  margin-top: 100px;

  .error {
    text-align: center;
  }

  .field {
    width: 220px;

    label {
      display: block;
    }

    input[type=text], input[type=password] {
      width: 220px;
    }
  }
}

.custom_pagination {
  text-align: right;
  padding: 0.25em 0;
  cursor: default;

  .pagination, .page_info {
    display: inline;
  }

  .pagination {
    padding-left: 0.75em;
  }

  a, span {
    padding: 0.2em 0.3em;
  }

  a {
    text-decoration: none;
    color: black;

    &:hover, &:focus {
      text-align: underline;
    }
  }

  .disabled {
    color: #aaa;
  }

  .current {
    font: {
      style: normal;
      weight: bold;
    }
    width: 1.45em;
    display: inline-block;
    text-align: center;
    background-color: #bebebe;
    @each $prefix in -moz-, -webkit, '' {
      #{$prefix}border-radius: 1em;
    }
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
  }

}

.error-form {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;

    input[type=submit] {
        margin: 0;
        padding: 5px;
        width: 140px;
    }
}

#search-form {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;

    input, select {
        margin: 0;
        padding: 5px;
    }

    #search-select {
        width: 175px;
        height: 30px;
    }

    #search-box {
        width: 300px;
        height: 18px; // real height = 18px + padding-top (5px) + padding-bottom (5px) = 28px;
    }

    #search-button {
        width: 100px;
        height: 30px;
    }
}

#setting-form {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;

    input {
        margin: 0;
        width: 100px;
    }

    .field_with_errors {
        display: inline;
    }
}

#setting-errors {
    margin: 0;
    padding: 0;
    list-style-type: disc;
    list-style-position: inside;
    background: #fbe3e4;
    color: #8a1f11;
    padding: 0.8em;
    border: 2px solid #fbc2c4;
    margin-bottom: 1em;

    li {
        padding-top: 2px;
        padding-bottom: 2px;
    }
}
