body {
  min-width: 950px;
}

#post-form .col {
  width: 100%;
}
#post-form .col .field {
  padding: 5px;
  width: 100%;
}
#post-form .col .field select, #post-form .col .field input, #post-form .col .field textarea {
  margin: 0;
  padding: 0;
}
#post-form .col .field select, #post-form .col .field input[type=text], #post-form .col .field textarea {
  width: 800px;
}
#post-form .col .field textarea {
  height: 400px;
}
#post-form .col .field input[type=submit] {
  padding: 5px;
  width: 120px;
}
#post-form .col .field .label, #post-form .col .field .value {
  float: left;
}
#post-form .col .field .label *, #post-form .col .field .value * {
  vertical-align: middle;
}
#post-form .col .field .label {
  width: 140px;
}
#post-form .col .field .value .image {
  padding-bottom: 5px;
}

.field_with_errors {
  display: table;
  background-color: red;
  margin: 5px 0;
  padding: 5px 0;
}
.field_with_errors label {
  color: #fff;
  font-weight: bold;
}

#error_explanation {
  width: 100%;
  border: 2px solid red;
  background-color: #f0f0f0;
}
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 10px;
  font-size: 13px;
  background-color: #c00;
  color: #fff;
}
#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
  margin-top: 10px;
  font-size: 1.25em;
}
#error_explanation ul {
  margin-left: 30px;
}
#error_explanation ul li {
  font-size: 13px;
  list-style: square;
}

#header {
  height: 54px;
  line-height: 54px;
  background-color: #171717;
}
#header .logo {
  display: block;
  color: white;
  font-size: 2.25em;
  text-decoration: none;
  height: 54px;
  line-height: 54px;
  background-color: white;
}
#header .logo img {
  padding: 3px 0;
}
#header #submenu .link {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #171717;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
#header #submenu .link:hover {
  background-color: rgba(130, 130, 130, 0.6);
  border: 1px solid #a8a8a8;
  text-decoration: none;
}

#menu .link, #submenu .link {
  color: #DADBB1;
  font-weight: bold;
}

#menu {
  background-color: #3B3B3B;
  height: 36px;
  line-height: 36px;
  border-bottom: 5px solid #CCC;
}
#menu .link {
  display: block;
  padding: 0 10px;
}
#menu .link:hover {
  text-decoration: none;
}
#menu .link.selected {
  text-decoration: none;
}
#menu .link:hover,
#menu .selected {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.overview-header {
  line-height: 24px;
}
.overview-header #overview {
  font-size: 1.25em;
  font-weight: bold;
  color: #F70;
}
.overview-header #overview span {
  color: white;
  background: green;
  -mozborder-radius: 8px;
  -webkitborder-radius: 8px;
  border-radius: 8px;
  padding: 2px 5px;
}
.overview-header #sort .label {
  font-weight: bold;
}

table.posts, table.imported-posts {
  width: 100%;
  border: 1px solid #999;
  border-collapse: separate;
  border-spacing: 1px;
}
table.posts colgroup .checkbox, table.imported-posts colgroup .checkbox {
  width: 32px;
}
table.posts colgroup .name, table.imported-posts colgroup .name {
  width: 200px;
  min-width: 200px;
}
table.posts colgroup .category, table.imported-posts colgroup .category {
  width: 120px;
}
table.posts colgroup .subcategory, table.imported-posts colgroup .subcategory {
  width: 120px;
}
table.posts colgroup .status, table.imported-posts colgroup .status {
  width: 85px;
}
table.posts colgroup .poster, table.imported-posts colgroup .poster {
  width: 200px;
}
table.posts colgroup .posted-date, table.imported-posts colgroup .posted-date {
  width: 95px;
}
table.posts colgroup .photo, table.imported-posts colgroup .photo {
  width: 55px;
}
table.posts colgroup .error-id, table.imported-posts colgroup .error-id {
  width: 100px;
}
table.posts colgroup .time, table.imported-posts colgroup .time {
  width: 150px;
}
table.posts colgroup .message, table.imported-posts colgroup .message {
  width: 500px;
}
table.posts colgroup .action, table.imported-posts colgroup .action {
  width: 40px;
}
table.posts tr.row-0 td, table.imported-posts tr.row-0 td {
  background-color: #E5ECF9;
}
table.posts tr.row-1 td, table.imported-posts tr.row-1 td {
  background-color: white;
}
table.posts tr.header td, table.imported-posts tr.header td {
  background-color: #F7F7F7;
  color: white;
  font-size: 1em;
  font-weight: bold;
}
table.posts tr.header td .date, table.imported-posts tr.header td .date {
  float: left;
  width: 140px;
}
table.posts tr.header td .total, table.imported-posts tr.header td .total {
  float: left;
}
table.posts tr.header td span.label, table.imported-posts tr.header td span.label {
  text-decoration: underline;
  color: #F70;
  margin-right: 5px;
}
table.posts tr.header td span.value, table.imported-posts tr.header td span.value {
  color: white;
  background: green;
  -mozborder-radius: 8px;
  -webkitborder-radius: 8px;
  border-radius: 8px;
  padding: 2px 5px;
}
table.posts th, table.posts td, table.imported-posts th, table.imported-posts td {
  padding: 5px;
  margin: 5px;
}
table.posts th, table.imported-posts th {
  text-align: center;
  background-color: #6D6D6D;
  color: white;
}
table.posts td.left, table.imported-posts td.left {
  text-align: left;
}
table.posts td.right, table.imported-posts td.right {
  text-align: right;
}
table.posts td.center, table.imported-posts td.center {
  text-align: center;
}
table.posts td.number, table.imported-posts td.number {
  text-align: right;
}
table.posts td.top, table.imported-posts td.top {
  vertical-align: top;
}
table.posts td.action a, table.imported-posts td.action a {
  text-decoration: none;
  font-size: 18px;
}
table.posts td.has-photo-true, table.imported-posts td.has-photo-true {
  background-image: url(../images/camera_small.gif) !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
table.posts td.featured-post, table.imported-posts td.featured-post {
  background-image: url(../images/featured.png) !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
table.posts.error-details th, table.imported-posts.error-details th {
  vertical-align: top;
  text-align: left;
  background-color: #fff;
  color: black;
}
table.posts.error-details td, table.imported-posts.error-details td {
  background: #fff !important;
}

table.post-form {
  width: 100%;
  border-collapse: separate;
}
table.post-form colgroup .label {
  width: 160px;
}
table.post-form tr td, table.post-form tr th {
  padding: 5px;
  margin: 5px;
}
table.post-form tr select, table.post-form tr input[type='text'], table.post-form tr textarea {
  width: 780px;
  margin: 0;
  padding: 10px;
}
table.post-form tr select {
  border-color: #BBB;
  width: 802px;
}
table.post-form tr textarea {
  resize: none;
  height: 360px;
}
table.post-form tr input[type='checkbox'], table.post-form tr input[type='radio'] {
  padding: 0;
  margin: 0;
}
table.post-form tr label, table.post-form tr input[type='radio'] {
  vertical-align: middle;
}
table.post-form tr input[type='submit'] {
  padding: 10px;
  width: 120px;
}
table.post-form tr img.post-image {
  display: block;
  margin-bottom: 5px;
}

a.back-to-errors {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

.login-form {
  margin: auto;
  width: 220px;
  margin-top: 100px;
}
.login-form .error {
  text-align: center;
}
.login-form .field {
  width: 220px;
}
.login-form .field label {
  display: block;
}
.login-form .field input[type=text], .login-form .field input[type=password] {
  width: 220px;
}

.custom_pagination {
  text-align: right;
  padding: 0.25em 0;
  cursor: default;
}
.custom_pagination .pagination, .custom_pagination .page_info {
  display: inline;
}
.custom_pagination .pagination {
  padding-left: 0.75em;
}
.custom_pagination a, .custom_pagination span {
  padding: 0.2em 0.3em;
}
.custom_pagination a {
  text-decoration: none;
  color: black;
}
.custom_pagination a:hover, .custom_pagination a:focus {
  text-align: underline;
}
.custom_pagination .disabled {
  color: #aaa;
}
.custom_pagination .current {
  font-style: normal;
  font-weight: bold;
  width: 1.45em;
  display: inline-block;
  text-align: center;
  background-color: #bebebe;
  -moz-border-radius: 1em;
  -webkitborder-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}

.error-form {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.error-form input[type=submit] {
  margin: 0;
  padding: 5px;
  width: 140px;
}

#search-form {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
#search-form input, #search-form select {
  margin: 0;
  padding: 5px;
}
#search-form #search-select {
  width: 175px;
  height: 30px;
}
#search-form #search-box {
  width: 300px;
  height: 18px;
}
#search-form #search-button {
  width: 100px;
  height: 30px;
}

#setting-form {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
#setting-form input {
  margin: 0;
  width: 100px;
}
#setting-form .field_with_errors {
  display: inline;
}

#setting-errors {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  list-style-position: inside;
  background: #fbe3e4;
  color: #8a1f11;
  padding: 0.8em;
  border: 2px solid #fbc2c4;
  margin-bottom: 1em;
}
#setting-errors li {
  padding-top: 2px;
  padding-bottom: 2px;
}
