/* CalAxe Stylesheet */

/*
 ********* Colors *********
 Blue Dark (header): #083473
 Blue Dark (header time): #284c9e
 Blue Medium (add post): #BCCDED
 Blue Light (infobox): #d6dff4
 Blue Light (header post button border): #3b65a0
 Blue Light (footer top line): #e0e9fb
 Gray Light (post button font): #d3e0e5
 Gray Medium (footer links): #667
 Gray Medium (add post, comment) #555
 **************************
*/



/* Colors for Categories
		personals - Pink Dark: #FFB5DA
		personals - Pink Light: #FFE5F3
		forsale - Orange Dark: #FEC321
		forsale - Orange Light: #FFF7C0
		housing - Green Dark: #B1DB79
		housing - Green Light: #E4F3D1
		jobs_offcampus - Purple Dark: #ECB7FF
		jobs_offcampus - Purple Light: #F8E6FF
		jobs_campus - Blue Dark: #92CADD
		jobs_campus - Blue Light: #DFF4FB
		community - Purple-shade Dark: #B5A3C2
		community - Purple-shade Light: #F2F0F5
		services - Blue-shade Dark: #8ED9FB
		services - Blue-shade Light: #E2F4FF
		resumes - Green-shade Dark: #bee133
		resumes - Green-shade Light: #eef8e2
*/

/* ************************************ */
/* Global */
/* ************************************ */

.container{
	width: 906px;
	padding-top:10px;
}

body{
	font-family:arial, sans-serif;
}

/* ************************************ */
/* Header */
/* ************************************ */
header h1{
	font-size:22px;
	color: #ffffff;
	font-weight:700;
}

header .bluebar, header .bluebar a{
	background-color: #083473;
	text-align:center;
}

header form{
	float:left;
	width:175px;
	padding-left:40px;
}

header form .query{
	width:90px;
}

header h1 {
	float:left;
	width:400px;
}

header table, header td{
	padding: 0px;
	line-height:1;
	margin:0px;
}

header .logo{
	width: 155px;
}

header .bluebar{
	background: url('../images/header.png');
	background-repeat:repeat-x;
	background-position:left 100%;
	padding-top:10px;
}

header .bluebar a{
	background: url('../images/header.png');
	background-repeat:repeat-x;
	background-position:left 95%;
	padding:10px 15px 10px 15px;
	font-size:19px;
	color: #d3e0e5;
	border-left: 1px solid #3b65a0;
	border-right: 1px solid #3b65a0;
}

header .bluebar a:hover{
	color: #ffffff;
	background-position:left 75%;
}

header .bread_crumbs td{
	background: url('../images/breadcrumbBar.png') !important;
	background-repeat:repeat-x;
	background-position:left 0%;
	line-height:1.5;
	padding-left:10px;
	padding-right:10px;
	padding-top:3px;
}

header .bread_crumbs nav{
	float:left;
}

header time{
	float:right;
	color:#284c9e;
	font-weight:700;
}

/* ************************************ */
/* Links */
/* ************************************ */

a{
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}


/* Round Corners */
.round, .infobox h1 {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Round left top corner */
header .bread_crumbs td{
	border-top-left-radius: 					10px;
	-moz-border-radius-topleft: 			10px;
	-webkit-border-top-left-radius: 	10px;
}

/* Round right top corner */
/*header .bluebar, .home .navigate .category_title{
	border-top-right-radius: 						10px;
	-moz-border-radius-topright: 				10px;
	-webkit-border-top-right-radius: 		10px;
}
*/
/* Round right and left top corners */
.home .ad h3,
.home .recentPosts h3, .home .navigate .category_title, header .bluebar, .home .navigate h2{
	border-top-left-radius: 					10px;
	-moz-border-radius-topleft: 			10px;
	-webkit-border-top-left-radius: 	10px;

	border-top-right-radius: 						10px;
	-moz-border-radius-topright: 				10px;
	-webkit-border-top-right-radius: 		10px;
}


/* ************************************ */
/* Elements */
/* ************************************ */

.infobox{
	border: solid 2px #d6dff4;
	padding:20px;
}

.infobox h1{
	text-align: center;
	background-color: #d6dff4;
	font-size:14px;
	padding:7px;
	margin:7px;
	font-weight:700;
}

.infobox h2{
	font-size:150%;
}

/* ************************************ */
/* Pages Controller */
/* ************************************ */

/* Contact */
.contact p {
	text-align: center;
	padding: 80px;
}

/* About */
.about .welcome td{
	vertical-align:top;
}

.about .management, .help .faq{
	margin-top:10px;
}

.about .management p{
	line-height:1.2;
	margin:0;
}

.about .management .name{
	font-weight:700;
	font-size:120%;
	padding-bottom:5px;
}

/* ************************************ */
/* Navigation */
/* ************************************ */

nav {
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* ************************************ */
/* Footer */
/* ************************************ */

footer{
	text-align: center;
	margin-top: 60px;
	width: 710px;
	margin-left:auto;
	margin-right:auto;
}

footer nav{
	border-top: 1px solid #e0e9fb;
	float:none;
	padding-bottom:20px;
}
footer nav a{
	color: #667;
}

footer nav a:hover{
	color: #000000;
}

footer p{
	line-height:1;
	margin:0;
}


/* ************************************ */
/* Post */
/* ************************************ */


.post{
	border-width:2px;
	border-style:solid;
}


.post h1{
	border-bottom-width:2px;
	border-style:solid;
	border-top-width: 22px;
	font-weight:700;
	font-family:arial, sans-serif;
	margin-bottom:0px;
	line-height:1.5;
	padding-left:7px;
	font-size:22px;
}

.post .reply{
	background:#EEE;
	padding:5px;
	border:1px solid #BBB;
}

.post .reply label{
	font-style:normal;
}

.post .reply p{
	font-style:italic;
	margin:0;
	line-height:1.25;
}

.post table td{
	vertical-align:top;
}

.post .body{
	width: 735px;
/*	border:1px solid black;*/
	padding: 20px 10px;
}

.post .other_services_messages{
	padding:20px;
	color: #999;
}

.post .message_poster{
	width:160px;
}

.post .photos{
	padding-bottom:15px;
}

.post .photos img {
	width: 340px;
	padding:2px;
	margin-right: 2px;
	border:1px solid #777777;
}


/* ************************************ */
/* Add New Post */
/* ************************************ */

.add{

}

.add .title{
	background-color: #BCCDED;
	text-align:right;
	font-size: 16px;
	font-weight:700;
	padding: 5px 7px 6px 0px;
}

.add textarea{
	height:155px;
}

.add textarea, .add table input{
	width:705px;
}

.add textarea {
    min-width: 705px;
    max-width: 705px;
    min-height: 155px;
    max-height: 800px;
}

.add table table input{
	width:250px;
	border:0px;
}

.add table table, .add table table td{
	border:0px;
}

.add table{
	border: 2px solid #BCCDED;
}

.add td{
	background-color: #ffffff !important;
	border-top: 2px solid #BCCDED;
	vertical-align:top;
	padding-top:10px;
}

.add td p{
	color: #555;
	margin:0;
	padding:10px 0px 10px 20px;
/*	padding-left:20px;*/
}

.add label{
	font-size:13px;
}

.add .labelCol{
	width:135px;
	text-align:right;
}

.add .fieldCol{
/*	width:100%;*/
}

.add .actions input{
	font-size:18px;
}

.subcategories, .categories{
	padding: 30px;
}

.subcategories h1, .categories h1{
	font-size:16px;
	padding-bottom:10px;
}

.actions_preview_btn input{
	margin:30px;
	margin-left: 0px;
	font-size:18px;
}

.categories ul, .subcategories ul{
  margin: 0;
  padding: 0;
}



.categories ul li, .subcategories ul li{
  list-style-type: none;
  padding: 0px 0px 8px 20px;
	font-size:14px;
}



/* ************************************ */
/* Error Messages */
/* ************************************ */

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
/*  width: 400px;*/
	width: 888px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
/*  margin-bottom: 20px;*/
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 13px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
	margin-top:10px;
}

#error_explanation ul li {
  font-size: 13px;
  list-style: square;
}

/* ************************************ */
/* Post Publish Instructions */
/* ************************************ */

.publish_instructions .publish_message{
	background-color:#D1E6B3;
	border:2px solid #8CBF40;
	padding:30px;
	text-align:center;
}

.publish_instructions h2, .publish_instructions h3{
	font-weight:700;
}

.publish_instructions .important{
	font-weight:700;
	color:#C33;
}

.publish_instructions .checkSpam{
	font-weight:700;
}

.thankyou ul li{
	list-style-type:none;
	padding-top:5px;
}

.thankyou{
	/*padding-left:90px;*/
	padding-top: 30px;
}

/*
 * Publish success
 ******************************************************************************/
#publish_success {
  text-align:center;
  background-color:#d1e6b3;
/*  border-top: 2px solid #8cbf40;*/
  padding: 10px;
}

#publish_success.message {
  border: 2px solid #8cbf40;
}

#publish_success.message.activate .thanks {
  color: #83B23D;
	font-size: 100px;
	font-weight: 700;
	padding: 20px;
	margin: 0px;
}

#publish_success.message.activate .big_links {
  text-align: center;
	font-weight: 700;
	font-size: 24px;
	padding: 5px;
}

#publish_success.message.activate #view a,
#publish_success.message.activate #republish {
	color: #214D84;
}

#publish_success.message.activate #deleted{
	color: #9C0000;
	font-size: 60px;
	font-weight: 700;
}

#publish_success.message.activate #delete a {
	color: #9C0000;
}

#publish_success.message.activate .return {
	padding: 10px;
}

/*
 * Message Poster
 ******************************************************************************/

#message_box {
  background-color: #F4F9FF;
  margin-top: 20px;
}

#info {
  background-color:#d1e6b3;
  border: 2px solid #8cbf40;
  margin-top: 20px;
  padding: 20px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

#message_box div {
  font-weight: bold;
  padding: 0 5px;
}

#message_box .title {
  background: #E0E9FB;
  font-size: 16px;
}

#message_box .submit {
  padding: 5px;
}

#message_box div textarea,
#message_box div input[type=text] {
  margin: 0;
  padding: 0;
  width: 148px;
}

#message_box div textarea {
  min-width: 148px;
  max-width: 148px;
  height: 200px;
  min-height: 200px;
  max-height: 500px;
}

#message_box .message-error,
#message_box .email-error {
  padding: 0;
  margin: 0;
  color: red;
}

/*
 * Jobs
 ******************************************************************************/
#jobs {
  display: block;
  float: none;
}

#jobs .job_header {
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  padding: 5px 0;
  vertical-align: middle;
  line-height: 40px;
}

#jobs .job_header .job_title {
  padding: 5px 0;
  line-height: 40px;
  float: left;
}

#jobs .job_header .job_phone_and_email {
  padding: 5px 0;
  line-height: 20px;
  float: right;
  text-align: right;
}

#jobs .job_header .job_phone_and_email .contact_email {
  font-size: 14px;
}

#jobs .job_header .job_photo {
  display: block;
  clear: both;
  border: 1px solid #CCCCCC;
  text-align: center;
  vertical-align: middle;
  padding: 5px; 5px;
}

#jobs .job_header .job_photo img {
  vertical-align: middle;
}

#jobs .job_middle {
  padding-top: 10px;
}

#jobs .job_middle .left_information {
  width: 550px;
  float: left;
  padding-right: 30px;
}

#jobs .job_middle .left_information .stanford_daily {
  padding-top: 20px;
}

#jobs .job_middle .left_information .stanford_daily .stanford_daily_logo {
  border: 1px solid #CCCCCC;
  padding: 10px 0;
  text-align: center;
}

#jobs .job_middle .left_information .stanford_daily .stanford_daily_article {
  font-size: 15px;
  padding-top: 15px;
}

#jobs .job_middle .left_information .wufoo_form {

}

#jobs .job_middle .right_information {
  display: inline;
}

#jobs .job_middle .right_information .subscriber {
  text-align: right;
  padding-bottom: 15px;
  font-size: 14px;
}

#jobs .job_middle .right_information .header_line {
  font-size: 19px;
  font-weight: 700;
  padding-bottom: 10px;
  text-align: center;
}

#jobs .job_middle .right_information .job_post_point {
  font-size: 15px;
  padding-bottom: 15px;
}

#jobs .job_middle .meet_a_stanford_student {
  text-align: center;
  padding: 15px 10px 10px 10px;
  font-size: 19px;
  font-weight: 700;
}

#jobs .job_middle .video_student {
  text-align: center;
}

#subscriber .unsubscribe {
  padding-top: 20px;
  text-align: right;
  font-size: 14px;
}

#unsubscribe .wufoo_form {
  padding-top: 20px;
}

#job_success {
  background-color: #D1E6B3;
  border: 2px solid #8CBF40;
  padding: 20px;
  text-align: center;
}

.clearfix {
    display: inline-block;
}

.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}


/* ************************************ */
/* Posts */
/* ************************************ */

.posts{
	font-family:arial, sans-serif;
}

.posts h1{
	border-width:1px;
	border-style:solid;
	font-weight:700;
	margin-bottom:0px;
	line-height:1;
	font-size:20px;
	text-align:center;
	padding:10px;
	color:#284C9E;
}

.posts .post-list {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.posts li.date{
    border-bottom-width: 1px;
    border-style:solid;
    font-size:100%;
    font-weight:700;
    padding-top: 2px;
    padding-left:8px;
    margin-top:22px;
    margin-bottom:3px;
}

.posts ul li{
	margin:0;
/*	padding-bottom:3px;*/
	padding:0;
  list-style-type: none;
	font-size:110%;
}

.posts ul li a:visited{
	font-weight:200;
	color:green;
}

.posts ul li a:link{
	font-weight:700;
	color:blue;
}

.posts nav{
	text-align:center;
	background-color:#EEE;
	border:1px solid #BBB;
	padding:5px;
	margin-top:20px;
	font-size:140%;
}

.posts .pagination a{
	padding-left:40px;
	padding-right:40px;
}


/*
.posts ul {
  margin: 0;
  padding: 0;
}

.posts ul li {
  list-style-type: none;*/
/*  padding: 0.2em 0;*/
/*	margin:0;
	padding-bottom:3px;

}

.posts ul li a {
  padding: 0 5px;
}*/



/* ************************************ */
/* Home */
/* ************************************ */

.home td{
	vertical-align:top;
/*	border:1px solid black;*/
}

.home .content td{
	background-color: #ffffff !important;
}

.home .navigate{
	width:150px;
/*	padding-right:10px;*/
}

.home .content{
	width:740px;
}

.home .recentPosts{
	width:375px;
}

.home .recentPosts h3,
.home .featured-posts h3 {
    padding-top: 2px;
}

.home .recentPosts h3 a,
.home .featured-posts h3 a {
    color: #3B5898;
}

.home .ad{
	width:360px;
}

.home .recentPhotos{
	height:185px;
}

.home h3 {
	color:#3B5898;
}

.home h3 {
	text-align:center;
	border-bottom: 1px solid #BCCDED;
	background-color:#E8EAFF;
	font-size:13px;
	font-weight:700;
	margin: 0px 3px 3px 3px;
    height: 16px;
}


.home .post_links {
	text-align:center;
	padding-top:10px;
}

.home .post_links p{
/*	border:1px solid black;*/
	color:#999;
	font-style:italic;
	margin-bottom:10px;
}

.home .post_links a{
	font-weight:700;
	color: #00C;
}



/* Home - Left Navigation Bar */


.home .overview {
/*	background-color:;*/
	border:1px solid #BCCDED;
	margin-top: 0px;
}

.home .overview ul li{
/*	border:1px solid black;*/
	padding-left:20px;
}


.home .navigate .count{
	padding-top:14px;
	text-align:center;
	color:#999;
}

.home .navigate .count span a{
	color:#AF008F;
}

.home .navigate h2, .home .navigate .category_title{
	border-width:1px;
 	border-style: solid;
	text-align:center;
	font-weight:700;
	font-size:13px;
	padding:2px;
	margin-bottom:0px;
	line-height:1;
}

.home .overview h2{
	border-color: #BCCDED;
	border-color: #E8EAFF;
	height: 16px;
/*	border: none;*/
/*	color: #3B5898;*/
	background-color: #E8EAFF;
}

.home .overview h2 a{
	color: #3B5898;
}

.home .navigate li{
  list-style-type: none;
}

.home .navigate ul{
  margin: 2px 0px 2px 0px;
	padding:0px 0px 0px 0px;
}

.home .navigate .overview a {
	font-size:13px;
}

.home .navigate a {
	font-size:12px;
	color: #00C;
	font-weight:700;
}

.home .navigate .count a {
	font-weight:200;
}

.home .category{
	margin-top:11px;
	border-width:1px;
	border-style:solid;
}

.home .category table, .home .category table tr, .home .category table td{
	margin:0px;
	padding:0px;
}

.home .category ul{
	width:70px;
/*	border:1px solid green;*/
	float:left;
}

.home .category ul li{
	margin:0px;
	width:70px;
	padding-left:4px;
	padding-right:4px;
/*	border:1px solid green;*/
}

.home .category.personals ul, .home .category.housing ul{
	width:140px;
/*	border:1px solid green;*/
/*	float:left;*/
}

.home .category.personals ul li, .home .category.housing ul li{
	margin:0px;
	width:140px;
	padding-left:4px;
	padding-right:4px;
/*	border:1px solid green;*/
}

.home .navigate p.job_post_link_lower{
	text-align:center;
	margin:0px;
	padding:25px 0px 10px 0px;
	line-height:0;
}

.home .recentPhotos img{
	height:120px;
	max-width: 160px;
}

.home .recentPhotos div{
    width:160px;
	float:left;
	padding:5px;
	text-align:center;
	font-size:13px;
}

.home .posts li, .home .recentPhotos td div, .home .time_category, .home .overview ul li span{
	color: #AF008F;
}

.home .posts li img, .posts ul li img{
	width: 17px;
	padding-left:6px;
}

/*.home div.category.forsale{
	background-color: yellow;
}
*/

.home .navigate h2 a, .home .navigate .category_title a{
	font-size:16px;
}

.home .navigate .overview li{
/*	padding-left:30px;*/
/*	border: 1px solid black;*/
	padding-left:22px;
	margin-left:2px;
}


.home .navigate .category .activity{
	padding: 3px 3px 3px 3px;
	text-align:left;
/*	border:1px solid black;*/
}

.home .time_category{
	font-weight:200;
/*	padding-right:20px;*/
/*	margin: 10px 20px 10px 0px;*/
	font-size:90%;
/*	text-align: left;*/
}

.home .count_category{
	font-weight:200;
	color:gray;
	float:right;
	width:30px;
	font-size:90%;
}

.home .overview ul li span{
	float:right;
	width:40px;
	font-size:90%
}

.home .navigate .jobs_offcampus .category_title a{
	font-size:95%;
}

/* ************************************ */
/* Colors for Categories */
/* ************************************ */

/* >>>>>>>> personals <<<<<<<< */

.personals.post, .personals.post h1, .posts.personals h1, .posts.personals .date, .home .category.personals .category_title, .home div.category.personals{
	border-color: #FFB5DA;
}

.personals.post h1, .posts.personals h1, .posts.personals .date, .home div.category.personals{
	background-color: #FFE5F3;
}

.home .category.personals .category_title{
	background-color: #FFB5DA;
}

/* >>>>>>>> forsale <<<<<<<< */

.forsale.post, .forsale.post h1, .posts.forsale h1, .posts.forsale .date, .home .category.forsale .category_title, .home div.category.forsale{
	border-color: #FEC321;
}

.forsale.post h1, .posts.forsale h1, .posts.forsale .date, .home div.category.forsale, .home div.category.forsale{
	background-color: #FFF7C0;
}

.home .category.forsale .category_title{
	background-color: #FEC321;
}

/* >>>>>>>> housing <<<<<<<< */

.housing.post, .housing.post h1, .posts.housing h1, .posts.housing .date, .home .category.housing .category_title, .home div.category.housing{
	border-color: #B1DB79;
}

.housing.post h1, .posts.housing h1, .posts.housing .date, .home div.category.housing{
	background-color: #E4F3D1;
}

.home .category.housing .category_title{
	background-color: #B1DB79;
}


/* >>>>>>>> jobs_offcampus <<<<<<<< */

.jobs_offcampus.post, .jobs_offcampus.post h1, .posts.jobs_offcampus h1, .posts.jobs_offcampus .date, .home .category.jobs_offcampus .category_title, .home div.category.jobs_offcampus{
	border-color: #ECB7FF;
}

.jobs_offcampus.post h1, .posts.jobs_offcampus h1, .posts.jobs_offcampus .date, .home div.category.jobs_offcampus{
	background-color: #F8E6FF;
}

.home .category.jobs_offcampus .category_title{
	background-color: #ECB7FF;
}


/* >>>>>>>> jobs_campus <<<<<<<< */

.jobs_campus.post, .jobs_campus.post h1, .posts.jobs_campus h1, .posts.jobs_campus .date, .home .category.jobs_campus .category_title, .home div.category.jobs_campus{
	border-color: #92CADD;
}

.jobs_campus.post h1, .posts.jobs_campus h1, .posts.jobs_campus .date, .home div.category.jobs_campus{
	background-color: #DFF4FB;
}

.home .category.jobs_campus .category_title{
	background-color: #92CADD;
}


/* >>>>>>>> community <<<<<<<< */

.community.post, .community.post h1, .posts.community h1, .posts.community .date, .home .category.community .category_title, .home div.category.community{
	border-color: #B5A3C2;
}

.community.post h1, .posts.community h1, .posts.community .date, .home div.category.community{
	background-color: #F2F0F5;
}

.home .category.community .category_title{
	background-color: #B5A3C2;
}


/* >>>>>>>> services <<<<<<<< */

.services.post, .services.post h1, .posts.services h1, .posts.services .date, .home .category.services .category_title, .home div.category.services{
	border-color: #8ED9FB;
}

.services.post h1, .posts.services h1, .posts.services .date, .home div.category.services{
	background-color: #E2F4FF;
}

.home .category.services .category_title{
	background-color: #8ED9FB;
}


/* >>>>>>>> resumes <<<<<<<< */

.resumes.post, .resumes.post h1, .posts.resumes h1, .posts.resumes .date, .home .category.resumes .category_title, .home div.category.resumes{
	border-color: #bee133;
}

.resumes.post h1, .posts.resumes h1, .posts.resumes .date, .home div.category.resumes{
	background-color: #eef8e2;
}

.home .category.resumes .category_title{
	background-color: #bee133;
}

/* ************************************ */
/* Icons for Categories */
/* ************************************ */

.for-sale-icon
{
	background: url("/images/icons.gif");
	background-position:-0px -240px;
	background-repeat:no-repeat;
}

.personals-icon
{
	background: url("/images/icons.gif");
	background-position:-0px -40px;
	background-repeat:no-repeat;
}

.housing-icon
{
	background: url("/images/icons.gif") -400px -160px no-repeat;
}

.off-campus-jobs-icon
{
	background: url("/images/icons.gif") -0px -440px no-repeat;
}

.campus-jobs-icon
{
	background: url("/images/icons.gif") -0px -1040px no-repeat;
}

.resumes-icon
{
	background: url("/images/icons.gif") -0px -760px no-repeat;
}

.community-icon
{
	background: url("/images/icons.gif") -0px -1400px no-repeat;
}

.services-icon
{
	background: url("/images/icons.gif") -400px -1000px no-repeat;
}

.staging-warning {
    margin-bottom: 10px;
    padding: 10px;
    color: red;
    font-size: 16px;
    text-align: center;
}

span.verified {
    color: #999;
}

div.posts li * {
    vertical-align: middle;
}

table.new-post td.fieldCol input[type=text],
table.new-post td.fieldCol textarea {
    margin: 0;
    padding: 3px;
}

table.new-post .field_with_errors {
    margin-top: 0;
}

table.new-post-photos tr td {
    padding: 0 0 15px 0;
}

#formstack-section {
    margin-top: 0;
    margin-bottom: 0;
}

#formstack-section .formstack-header {
    background-color: #f3f3f3;
}

#formstack-section .formstack-header .instruction {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding-top: 15px;
    padding-bottom: 5px;
}

#formstack-section .formstack-header .price {
    display: block;
    font-size: 14px;
}

#formstack-section .fsForm {
    margin-top:            0;
    margin-bottom:         0;
    border-radius:         0;
    -moz-border-radius:    0;
    -webkit-border-radius: 0;
    background-color:      #f3f3f3;
}

#formstack-section .fsForm .fsSectionHeader {
    margin-top: 0;
}

#formstack-section .fsForm .fsSubmit {
    margin-bottom: 0;
}

#big-reply-button {
    display: block;
    text-align: center;
    margin: 20px 5px;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: green;
    border: 3px solid green;
    border-radius: 15px;
    cursor: pointer;
}

#big-reply-button:hover {
    border: 3px solid rgb(0, 174, 0);
    background-color: rgb(0, 174, 0);
}

#big-reply-button,
#big-reply-button:hover,
#big-reply-button:visited {
    text-decoration: none;
}
