<div class="about">
	<div class="infobox welcome">
		<h1>about <%= SITE_CONFIG[:site_name] %></h1>

		<table>
			<tr>
				<td><%= image_tag("greg.jpg", :alt => "Greg") %></td>
        <td>
          <p>
            Welcome to <%= SITE_CONFIG[:site_name] %>. I built <%= SITE_CONFIG[:site_name] %> to enable <%= SITE_CONFIG[:university] %> students and staff to buy and sell their stuff. <%= SITE_CONFIG[:site_name] %> requires an <%= SITE_CONFIG[:symbol_email] %> email in order to post. So, you can be sure that all items posted on <%= SITE_CONFIG[:site_name] %> are from people affiliated with <%= SITE_CONFIG[:university] %>. (The only exception to this email restriction is in the off-campus jobs section, in which anyone can post a job for a fee.)
          </p>
          <p>
          <%= SITE_CONFIG[:site_name] %> is the #1 marketplace at <%= SITE_CONFIG[:university] %>! Got something to sell? Post it! Looking for a date? Post it! Looking to sublet your apartment? Post it! Tell everyone you know at <%= SITE_CONFIG[:university] %> to post one item they want to sell on <%= SITE_CONFIG[:site_name] %>, and watch this site continue to be an incredibly useful resource at <%= SITE_CONFIG[:university] %>.
          </p>
          <p>
          Please feel free to contact me at any time at <%= mail_to SITE_CONFIG[:contact_email], SITE_CONFIG[:contact_email], :subject => SITE_CONFIG[:site_name] %>.
          </p>
          <p>Greg Wientjes</p>
        </td>
			</tr>
		</table>

	</div>
</div>
