<div class="help">
	<div class="infobox">
    <h1>help</h1>
    <h2>How to submit a post</h2>
    <p>All postings are free. Here's a quick outline of the process:</p>
    <ul>
      <li>go to the home page for <%= SITE_CONFIG[:site_name] %></li>
      <li>click on the "post" link in the top right corner </li>
      <li>select the category in which you would like to post </li>
      <li>make the appropriate selections in the next few screens, until you get to the main post form </li>
      <li>fill in the blank fields as needed, and select "continue" </li>
      <li>review your post, back up and edit if necessary, then select "continue" </li>
      <li>review the Terms of Use on the next page, then click "ACCEPT the terms of use" if you agree </li>
      <li>review the information in the confirmation screen </li>
      <li>check your email for the self-publishing email message that should have been sent to you </li>
      <li>use the link in that email message to access the publishing form for your post </li>
      <li>make any last-minute changes, then click the "publish" button </li>
      <li>once you publish your post, it will appear on the site within 15 minutes </li>
      <li>keep the email that contains your self-publishing link, because you can use it later to edit or delete the post.</li>
      <li>if you lose or delete this email, you can have the edit/delete link resent</li>
    </ul>
    <h2>How to reply to a post </h2>
    <p>To reply to a post, type a message into the reply text box below the post. </p>
    <p>Your email will be received by the poster. </p>
    <p>If the poster has not provided a reply email address, look for an alternative method of contact at the bottom of the post under "Other ways to contact poster:" </p>
    <h2>How to include a picture</h2>
    <p>Currently you can add pictures to your post in the housing and for sale categories by selecting "Add images to this posting" at the bottom of the posting form. </p>
    <p>You will be given the option to include four images. By selecting "Browse" you can search through your computer's directory and select the file path to your picture. Selecting "continue with this posting" will bring you back to a review screen of what your posting will look like with the picture included. If everything looks ok, select "continue." </p>
    <p>For all other categories your picture must be uploaded on to a server (not on a disk or your hardrive). Once on a server you can either provide the URL (web address) for your picture for people to click on or use an an HTML image tag to have your post appear in the post. </p>

  </div>

	<div class="infobox faq">
    <h1>FAQ</h1>
    <h2>Where is my post?</h2>
    <p>Free postings don't post automatically, you must publish them first. </p>
    <p> All classified postings take approximately 15 minutes from the time you publish the posting until it appears on the site. </p>
    <p> To see your posting, go to the category where you posted it, look under the date it was submitted and refresh/reload your browser. </p>
    <p> If you've correctly followed our posting directions, waited 30 minutes, refreshed your browser on the correct category index page, and your posting still is not there - then it may have been flagged and deleted by the <%= SITE_CONFIG[:site_name] %> community. </p>
    <p> You can check on the status of your posting by following the link provided in your self-publishing email. </p>
    <p> Please note that editing your post does not bring it up to the current date. </p>
    <h2>Where is my self-publishing email? </h2>
    <p>If you have successfully submitted your posting and still have not received the email to publish your post, here are some things to consider:</p>
    <ul>
      <li>Make sure you entered your email address correctly on the posting form - it only takes one typo!</li>
      <li>Some email providers and ISPs have implemented "spam filters" which we have found are often badly designed or misconfigured - sometimes resulting in self-publishing &amp; other <%= SITE_CONFIG[:site_name] %> emails being intercepted.</li>
      <li>Network problems between ISPs can delay email transmission, sometimes for many hours - consider stretching out, getting some fresh air and checking back later.</li>
    </ul>
    <h2>Why was my posting deleted?</h2>
    <p>There are 4 possibile reasons: </p>
    <ul>
      <li>Your posting has expired.</li>
      <li>Your posting has been flagged off the site</li>
      <li>Your posting has been brought to the attention of <%= SITE_CONFIG[:site_name] %>, determined to be outside our Terms of Use, and removed by one of our staff.</li>
      <li>You deleted the posting yourself.</li>
    </ul>
  </div>
</div>
