<div class="home">
  <table>
    <tr>
      <!-- Left column -->
      <td class="navigate">
        <%= render :partial => "shared/navigate" %>
      </td>

      <!-- Right column -->
      <td class="content">
        <table>
          <!-- Recent photos on top-->
          <tr class="recentPhotos">
            <td colspan="2">
              <% @photosRecentPosts.each do |post| %>
                <%= recent_photo_tag post %>
              <% end %>
            </td>
          </tr>

          <!-- Recent and featured posts -->
          <tr>
            <!-- Recent posts on left side -->
            <td class="recentPosts">
              <h3><%= link_to "recent posts", posts_path %></h3>

              <div class='posts'>
                <ul>
                  <%= render @posts %>
                </ul>
              </div>
            </td>

            <!-- Featured posts and Advertising on right side -->
            <td class="ad featured-posts">
              <% if @featured_posts.present? %>
                <h3><%= link_to "featured job posts", posts_path(:cat => JOBS_CATEGORY_ID) %></h3>

                <div class='posts'>
                  <ul>
                    <%= render @featured_posts %>
                  </ul>
                </div>
              <% end %>

              <p><%= SITE_CONFIG[:site_name] %> is not sponsored by, endorsed by, or affiliated with <%= SITE_CONFIG[:university] %>.</p>
              <%# render :partial => "shared/google_ad_manager" %>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
