<div class="privacy infobox">
	<h1>privacy policy</h1>
  <p> <%= SITE_CONFIG[:site_name] %> has established this privacy policy to explain to you how your information is protected, collected and used, which may be updated by <%= SITE_CONFIG[:site_name] %> from time to time. <%= SITE_CONFIG[:site_name] %> will provide notice of materially significant changes to this privacy policy by posting notice on the <%= SITE_CONFIG[:site_name] %> site.
  </p>
  <h4>1. Protecting your privacy</h4>
  <ul>
    <li>We don't run banner ads, pop ups, pop unders, or any other kind of commercial ads. </li>
    <li>We don't share your information with third parties for marketing purposes. </li>
    <li>We don't engage in cross-marketing or link-referral programs with other sites. </li>
    <li>We don't employ tracking devices for marketing purposes ("cookies", "web beacons," single-pixel gifs). </li>
    <li>We don't send you unsolicited communications for marketing purposes. </li>
    <li>We offer email anonymization &amp; relay, to reduce 3rd party harvesting &amp; spam. </li>
    <li>Account information is password-protected. Keep your password safe. </li>
    <li><%= SITE_CONFIG[:site_name] %> does not knowingly collect any information from persons under the age of 13. If <%= SITE_CONFIG[:site_name] %> learns that a posting is by a person under the age of 13, <%= SITE_CONFIG[:site_name] %> will remove that post. </li>
    <li><%= SITE_CONFIG[:site_name] %>, or people who post on <%= SITE_CONFIG[:site_name] %>, may provide links to third party websites, which may have different privacy practices. We are not responsible for, nor have any control over, the privacy policies of those third party websites, and encourage all users to read the privacy policies of each and every website visited. </li>
  </ul>
  <h4>2. Data we collect</h4>
  <ul>
    <li>We sometimes collect your email address, for purposes such as sending self-publishing and confirmation emails, authenticating user accounts, providing subscription email services, registering for forums, etc. </li>
    <li>For job postings, we collect contact information, such as name(s), phone/fax number(s), and address for billing purposes. </li>
    <li><%= SITE_CONFIG[:site_name] %> does not store credit card information. </li>
    <li>We may collect personal information if you provide it in feedback or comments, post it on our classifieds or interactive forums, or if you contact us directly. Please do not post any personal information on <%= SITE_CONFIG[:site_name] %>'s forums or classifieds that you expect to keep private. </li>
    <li>Our web logs collect standard web log entries for each page served, including your IP address, page URL, and timestamp. Web logs help us to diagnose problems with our server, to administer the <%= SITE_CONFIG[:site_name] %> site, and to otherwise provide our service to you. </li>
  </ul>
  <h4>3. Data we store</h4>
  <ul>
    <li>All classified and forum postings are stored in our database, even after "deletion," and may be archived elsewhere. </li>
    <li>Our web logs and other records are stored indefinitely. </li>
    <li>Although we make good faith efforts to store the information in a secure operating environment that is not available to the public, we cannot guarantee complete security. </li>
  </ul>
  <h4>4. Circumstances in which <%= SITE_CONFIG[:site_name] %> may release information</h4>
  <ul>
    <li><%= SITE_CONFIG[:site_name] %> may disclose information about its users if required to do so by law or in the good faith belief that such disclosure is reasonably necessary to respond to subpoenas, court orders, or other legal process. </li>
    <li><%= SITE_CONFIG[:site_name] %> may also disclose information about its users to law enforcement officers or others, in the good faith belief that such disclosure is reasonably necessary to: enforce our <%= link_to 'Terms of Use', terms_path %>; respond to claims that any posting or other content violates the rights of third-parties; or protect the rights, property, or personal safety of <%= SITE_CONFIG[:site_name] %>, its users or the general public. </li>
  </ul>
  <h4>5. Feedback</h4>
  <p>We welcome your feedback on this document.</p>

</div>
