<div class="terms infobox">
	<h1>terms of use</h1>
 	<pre>
    1. ACCEPTANCE OF TERMS

    <%= SITE_CONFIG[:site_name] %> provides a collection of online resources, including classified
    ads, forums, and various email services, (referred to hereafter as "the
    Service") subject to the following Terms of Use ("Terms"). By using the Service
    in any way, you are agreeing to comply with these Terms. In addition, when using
    particular <%= SITE_CONFIG[:site_name] %> services, you agree to abide by any applicable posted
    guidelines for all <%= SITE_CONFIG[:site_name] %> services, which may change from time to time.
    Should you object to any term or condition of these Terms, any guidelines,
    or any subsequent modifications thereto or become dissatisfied with <%= SITE_CONFIG[:site_name] %>
    in any way, your only recourse is to immediately discontinue use of <%= SITE_CONFIG[:site_name] %>.


    2. MODIFICATIONS TO THIS AGREEMENT

    We reserve the right, at our sole discretion, to change, modify or otherwise
    alter these terms and conditions at any time.  Such modifications shall become
    effective immediately upon the posting thereof. You must review this agreement
    on a regular basis to keep yourself apprised of any changes. You can find the
    most recent version of these Terms at:

    <%= terms_url %>


    3. CONTENT

    You understand that all postings, messages, text, files, images, photos,
    video, sounds, or other materials ("Content") posted on, transmitted
    through, or linked from the Service, are the sole responsibility of the
    person from whom such Content originated. More specifically, you are
    entirely responsible for all Content that you post, email or otherwise make
    available via the Service. You understand that <%= SITE_CONFIG[:site_name] %> does not control,
    and is not responsible for Content made available through the Service, and
    that by using the Service, you may be exposed to Content that is offensive,
    indecent, inaccurate, misleading, or otherwise objectionable. Furthermore,
    the <%= SITE_CONFIG[:site_name] %> site and Content available through the Service may contain
    links to other websites, which are completely independent of <%= SITE_CONFIG[:site_name] %>.
    <%= SITE_CONFIG[:site_name] %> makes no representation or warranty as to the accuracy,
    completeness or authenticity of the information contained in any such site.
    Your linking to any other webites is at your own risk. You agree that you
    must evaluate, and bear all risks associated with, the use of any Content,
    that you may not rely on said Content, and that under no circumstances will
    <%= SITE_CONFIG[:site_name] %> be liable in any way for any Content or for any loss or damage of
    any kind incurred as a result of the use of any Content posted, emailed or
    otherwise made available via the Service. You acknowledge that <%= SITE_CONFIG[:site_name] %>
    does not pre-screen or approve Content, but that <%= SITE_CONFIG[:site_name] %> shall have the
    right (but not the obligation) in its sole discretion to refuse, delete or
    move any Content that is available via the Service, for violating the
    letter or spirit of the Terms or for any other reason.


    4. THIRD PARTY CONTENT, SITES, AND SERVICES

    The <%= SITE_CONFIG[:site_name] %> site and Content available through the Service may contain
    features and functionalities that may link you or provide you with access
    to third party content which is completely independent of <%= SITE_CONFIG[:site_name] %>,
    including web sites, directories, servers, networks, systems, information
    and databases, applications, software, programs, products or services,
    and the Internet as a whole.

    Your interactions with organizations and/or individuals found on or through
    the Service, including payment and delivery of goods or services, and any
    other terms, conditions, warranties or representations associated with such
    dealings, are solely between you and such organizations and/or individuals.
    You should make whatever investigation you feel necessary or appropriate
    before proceeding with any online or offline transaction with any of these
    third parties.

    You agree that <%= SITE_CONFIG[:site_name] %> shall not be responsible or liable for any loss or
    damage of any sort incurred as the result of any such dealings. If there is
    a dispute between participants on this site, or between users and any third
    party, you understand and agree that <%= SITE_CONFIG[:site_name] %> is under no obligation to
    become involved. In the event that you have a dispute with one or more other
    users, you hereby release <%= SITE_CONFIG[:site_name] %>, its officers, employees, agents and
    successors in rights from claims, demands and damages (actual and
    consequential) of every kind or nature, known or unknown, suspected and
    unsuspected, disclosed and undisclosed, arising out of or in any way related
    to such disputes and / or our service. If you are a California resident, you
    waive California Civil Code Section 1542, which says: "A general release does
    not extend to claims which the creditor does not know or suspect to exist in
    his favor at the time of executing the release, which, if known by him must
    have materially affected his settlement with the debtor."


    5.  NOTIFICATION OF CLAIMS OF INFRINGEMENT

    If you believe that your work has been copied in a way that constitutes
    copyright infringement, or your intellectual property rights have been
    otherwise violated, please notify <%= SITE_CONFIG[:site_name] %>'s agent for notice of claims of
    copyright or other intellectual property infringement ("Agent"), at

    <%= SITE_CONFIG[:contact_email] %>


    Please provide our Agent with the following Notice:

    a) Identify the material on the <%= SITE_CONFIG[:site_name] %> site that you claim is
    infringing, with enough detail so that we may locate it on the website;

    b) A statement by you that you have a good faith belief that the disputed
    use is not authorized by the copyright owner, its agent, or the law;

    c) A statement by you declaring under penalty of perjury that (1) the above
    information in your Notice is accurate, and (2) that you are the owner of
    the copyright interest involved or that you are authorized to act on behalf
    of that owner;

    d) Your address, telephone number, and email address; and

    e) Your physical or electronic signature.

    <%= SITE_CONFIG[:site_name] %> will remove the infringing posting(s), subject to the the procedures
    outlined in the Digital Millenium Copyright Act (DMCA).


    6. PRIVACY AND INFORMATION DISCLOSURE

    <%= SITE_CONFIG[:site_name] %> has established a Privacy Policy to explain to users how their
    information is collected and used, which is located at the following web
    address:

    <%= privacy_url %>

    Your use of the <%= SITE_CONFIG[:site_name] %> website or the Service signifies acknowledgement of
    and agreement to our Privacy Policy. You further acknowledge and agree that
    <%= SITE_CONFIG[:site_name] %> may, in its sole discretion, preserve or disclose your Content,
    as well as your information, such as email addresses, IP addresses, timestamps,
    and other user information, if required to do so by law or in the good faith
    belief that such preservation or disclosure is reasonably necessary to:
    comply with legal process; enforce these Terms; respond to claims that any
    Content violates the rights of third-parties; respond to claims that contact
    information (e.g. phone number, street address) of a third-party has been
    posted or transmitted without their consent or as a form of harrassment;
    protect the rights, property, or personal safety of <%= SITE_CONFIG[:site_name] %>, its users or
    the general public.


    7. CONDUCT

    You agree not to post, email, or otherwise make available Content:

    a) that is unlawful, harmful, threatening, abusive, harassing, defamatory,
    libelous, invasive of another's privacy, or is harmful to minors in any way;

    b) that is pornographic or depicts a human being engaged in actual sexual conduct
    including but not limited to (i) sexual intercourse, including genital-genital,
    oral-genital, anal-genital, or oral-anal, whether between persons of the same or
    opposite sex, or (ii) bestiality, or (iii) masturbation, or (iv) sadistic or
    masochistic abuse, or (v) lascivious exhibition of the genitals or pubic area
    of any person;

    c) that harasses, degrades, intimidates or is hateful toward an individual or
    group of individuals on the basis of religion, gender, sexual orientation,
    race, ethnicity, age, or disability;

    d) that violates the Fair Housing Act by stating, in any notice or ad for the
    sale or rental of any dwelling, a discriminatory preference based on race,
    color, national origin, religion, sex, familial status or handicap (or
    violates any state or local law prohibiting discrimination on the basis of
    these or other characteristics);

    e) that impersonates any person or entity, including, but not limited to, a
    <%= SITE_CONFIG[:site_name] %> employee, or falsely states or otherwise misrepresents your
    affiliation with a person or entity (this provision does not apply to messages
    that are lawful non-deceptive parodies of public figures.);

    f) that includes personal or identifying information about another person
    without that person's explicit consent;

    g) that is false, deceptive, misleading, deceitful, misinformative, or
    constitutes "bait and switch";

    h) that infringes any patent, trademark, trade secret, copyright or other
    proprietary rights of any party, or Content that you do not have a right to
    make available under any law or under contractual or fiduciary
    relationships;

    i) that constitutes or contains  "affiliate marketing," "link referral code,"
    "junk mail," "spam," "chain letters," "pyramid schemes," or unsolicited
    commercial advertisement;

    j) that constitutes or contains any form of advertising or solicitation if:
    posted in areas of the <%= SITE_CONFIG[:site_name] %> sites which are not designated for such
    purposes; or emailed to <%= SITE_CONFIG[:site_name] %> users who have not indicated in writing that
    it is ok to contact them about other services, products or commercial interests.

    k) that includes links to commercial services or web sites, except as allowed
    in "services";

    l) that advertises any illegal service or the sale of any items the sale of
    which is prohibited or restricted by any applicable law, including without
    limitation items the sale of which is prohibited or regulated by California
    law.

    m) that contains software viruses or any other computer code, files or
    programs designed to interrupt, destroy or limit the functionality of any
    computer software or hardware or telecommunications equipment;

    n) that disrupts the normal flow of dialogue with an excessive number of
    messages (flooding attack) to the Service, or that otherwise negatively
    affects other users' ability to use the Service; or

    o) that employs misleading email addresses, or forged headers or otherwise
    manipulated identifiers in order to disguise the origin of Content
    transmitted through the Service.

    Additionally, you agree not to:

    p) contact anyone who has asked not to be contacted;

    q) "stalk" or otherwise harrass anyone;

    r) collect personal data about other users for commercial or unlawful
    purposes;

    s) use automated means, including spiders, robots, crawlers, data mining
    tools, or the like to download data from the Service - unless expressly
    permitted by <%= SITE_CONFIG[:site_name] %>;

    t) post non-local or otherwise irrelevant Content, repeatedly post the
    same or similar Content or otherwise impose an unreasonable or
    disproportionately large load on our infrastructure;

    u) post the same item or service in more than one classified category or
    forum, or in more than one metropolitan area;

    v) attempt to gain unauthorized access to <%= SITE_CONFIG[:site_name] %>'s computer systems or
    engage in any activity that disrupts, diminishes the quality of, interferes
    with the performance of, or impairs the functionality of, the Service or the
    <%= SITE_CONFIG[:site_name] %> website; or

    w) use any form of automated device or computer program that enables the
    submission of postings on <%= SITE_CONFIG[:site_name] %> without each posting being manually
    entered by the author thereof (an "automated posting device"), including
    without limitation, the use of any such automated posting device to submit
    postings in bulk, or for automatic submission of postings at regular intervals.


    8. NO SPAM POLICY

    You understand and agree that sending unsolicited email advertisements to
    <%= SITE_CONFIG[:site_name] %> email addresses or through <%= SITE_CONFIG[:site_name] %> computer systems, which is
    expressly prohibited by these Terms, will use or cause to be used servers
    located in California.  Any unauthorized use of <%= SITE_CONFIG[:site_name] %> computer systems
    is a violation of these Terms and certain federal and state laws, including
    without limitation the Computer Fraud and Abuse Act (18 U.S.C. § 1030 et
    seq.), Section 502 of the California Penal Code and Section 17538.45 of the
    California Business and Professions Code.  Such violations may subject the
    sender and his or her agents to civil and criminal penalties.


    9. LIMITATIONS ON SERVICE

    You acknowledge that <%= SITE_CONFIG[:site_name] %> may establish limits concerning use of the
    Service, including the maximum number of days that Content will be retained
    by the Service, the maximum number and size of postings, email messages, or
    other Content that may be transmitted or stored by the Service, and the
    frequency with which you may access the Service. You agree that <%= SITE_CONFIG[:site_name] %>
    has no responsibility or liability for the deletion or failure to store any
    Content maintained or transmitted by the Service. You acknowledge that
    <%= SITE_CONFIG[:site_name] %> reserves the right at any time to modify or discontinue the
    Service (or any part thereof) with or without notice, and that <%= SITE_CONFIG[:site_name] %>
    shall not be liable to you or to any third party for any modification,
    suspension or discontinuance of the Service.


    10. ACCESS TO THE SERVICE

    <%= SITE_CONFIG[:site_name] %> grants you a limited, revocable, nonexclusive license to access
    the Service for your own personal use. This license does not include any
    collection, aggregation, copying, duplication, display or derivative use of
    the Service nor any use of data mining, robots, spiders, or similar data
    gathering and extraction tools for any purpose unless expressly
    permitted by <%= SITE_CONFIG[:site_name] %>. A limited exception is provided to general purpose
    internet search engines and non-commercial public archives that use such
    tools to gather information for the sole purpose of displaying hyperlinks to
    the Service, provided they each do so from a stable IP address or range of IP
    addresses using an easily identifiable agent and comply with our robots.txt
    file. "General purpose internet search engine" does not include a website
    or search engine or other service that specializes in classified listings
    or in any subset of classifieds listings such as jobs, housing, for sale,
    services, or personals, or which is in the business of providing classified
    ad listing services.

    <%= SITE_CONFIG[:site_name] %> permits you to display on your website, or create a hyperlink
    on your website to, individual postings on the Service so long as such use
    is for noncommercial and/or news reporting purposes only (e.g., for use in
    personal web blogs or personal online media).  If the total number of such
    postings displayed or linked to on your website exceeds one hundred (100)
    postings, your use will be presumed to be in violation of these Terms,
    absent express permission granted by <%= SITE_CONFIG[:site_name] %> to do so.  You may also
    create a hyperlink to the home page of <%= SITE_CONFIG[:site_name] %> sites so long as the
    link does not portray <%= SITE_CONFIG[:site_name] %>, its employees, or its affiliates in a
    false, misleading, derogatory, or otherwise offensive matter.

    <%= SITE_CONFIG[:site_name] %> offers various parts of the Service in RSS format so that users
    can embed individual feeds into a personal website or blog, or view postings
    through third party software news aggregators.  <%= SITE_CONFIG[:site_name] %> permits you to
    display, excerpt from, and link to the RSS feeds on your personal website
    or personal web blog, provided that (a) your use of the RSS feed is for
    personal, non-commercial purposes only, (b) each title is correctly linked
    back to the original post on the Service and redirects the user to the
    post when the user clicks on it, (c) you provide, adjacent to the RSS
    feed, proper attribution to '<%= SITE_CONFIG[:site_name] %>' as the source, (d) your use or
    display does not suggest that <%= SITE_CONFIG[:site_name] %> promotes or endorses any third
    party causes, ideas, web sites, products or services, (e) you do not
    redistribute the RSS feed, and (f) your use does not overburden
    <%= SITE_CONFIG[:site_name] %>'s systems.  <%= SITE_CONFIG[:site_name] %> reserves all rights in the content of
    the RSS feeds and may terminate any RSS feed at any time.

    Use of the Service beyond the scope of authorized access granted to you by
    <%= SITE_CONFIG[:site_name] %> immediately terminates said permission or license.  In order to
    collect, aggregate, copy, duplicate, display or make derivative use of the
    the Service or any Content made available via the Service for other
    purposes (including commercial purposes) not stated herein, you must first
    obtain a license from <%= SITE_CONFIG[:site_name] %>.


    11. TERMINATION OF SERVICE

    You agree that <%= SITE_CONFIG[:site_name] %>, in its sole discretion, has the right (but not
    the obligation) to delete or deactivate your account, block your email or IP
    address, or otherwise terminate your access to or use of the Service (or any
    part thereof), immediately and without notice, and remove and discard any
    Content within the Service, for any reason, including, without limitation,
    if <%= SITE_CONFIG[:site_name] %> believes that you have acted inconsistently with the letter or
    spirit of the Terms. Further, you agree that <%= SITE_CONFIG[:site_name] %> shall not be liable
    to you or any third-party for any termination of your access to the Service.
    Further, you agree not to attempt to use the Service after said termination.
    Sections 2, 4, 6 and 10-16 shall survive termination of these Terms.


    12. PROPRIETARY RIGHTS

    The Service is protected to the maximum extent permitted by copyright laws
    and international treaties. Content displayed on or through the Service is
    protected by copyright as a collective work and/or compilation, pursuant to
    copyrights laws, and international conventions. Any reproduction,
    modification, creation of derivative works from or redistribution of the
    site or the collective work, and/or copying or reproducing the sites
    or any portion thereof to any other server or location for further
    reproduction or redistribution is prohibited without the express
    written consent of <%= SITE_CONFIG[:site_name] %>. You further agree not to reproduce,
    duplicate or copy Content from the Service without the express written
    consent of <%= SITE_CONFIG[:site_name] %>, and agree to abide by any and all copyright notices
    displayed on the Service. You may not decompile or disassemble, reverse
    engineer or otherwise attempt to discover any source code contained in the
    Service. Without limiting the foregoing, you agree not to reproduce,
    duplicate, copy, sell, resell or exploit for any commercial purposes, any
    aspect of the Service. <%= SITE_CONFIG[:site_name] %> is a registered mark in the U.S. Patent
    and Trademark Office.

    Although <%= SITE_CONFIG[:site_name] %> does not claim ownership of content that its users post,
    by posting Content to any public area of the Service, you automatically
    grant, and you represent and warrant that you have the right to grant, to
    <%= SITE_CONFIG[:site_name] %> an irrevocable, perpetual, non-exclusive, fully paid, worldwide
    license to use, copy, perform, display, and distribute said Content and to
    prepare derivative works of, or incorporate into other works, said Content,
    and to grant and authorize sublicenses (through multiple tiers) of the
    foregoing. Furthermore, by posting Content to any public area of the Service,
    you automatically grant <%= SITE_CONFIG[:site_name] %> all rights necessary to prohibit any
    subsequent aggregation, display, copying, duplication, reproduction, or
    exploitation of the Content on the Service by any party for any purpose.


    13. DISCLAIMER OF WARRANTIES

    YOU AGREE THAT USE OF THE <%= SITE_CONFIG[:site_name] %> SITE AND THE SERVICE IS ENTIRELY AT
    YOUR OWN RISK. THE <%= SITE_CONFIG[:site_name] %> SITE AND THE SERVICE ARE PROVIDED ON AN "AS
    IS" OR "AS AVAILABLE" BASIS, WITHOUT ANY WARRANTIES OF ANY KIND.  ALL
    EXPRESS AND IMPLIED WARRANTIES, INCLUDING, WITHOUT LIMITATION, THE
    WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND
    NON-INFRINGEMENT OF PROPRIETARY RIGHTS ARE EXPRESSLY DISCLAIMED TO THE
    FULLEST EXTENT PERMITTED BY LAW.  TO THE FULLEST EXTENT PERMITTED BY LAW,
    <%= SITE_CONFIG[:site_name] %> DISCLAIMS ANY WARRANTIES FOR THE SECURITY, RELIABILITY,
    TIMELINESS, ACCURACY, AND PERFORMANCE OF THE <%= SITE_CONFIG[:site_name] %> SITE AND THE
    SERVICE.  TO THE FULLEST EXTENT PERMITTED BY LAW, <%= SITE_CONFIG[:site_name] %> DISCLAIMS ANY
    WARRANTIES FOR OTHER SERVICES OR GOODS RECEIVED THROUGH OR ADVERTISED ON THE
    <%= SITE_CONFIG[:site_name] %> SITE OR THE SITES OR SERVICE, OR ACCESSED THROUGH ANY LINKS ON
    THE <%= SITE_CONFIG[:site_name] %> SITE.  TO THE FULLEST EXTENT PERMITTED BY LAW, <%= SITE_CONFIG[:site_name] %>
    DISCLAIMS ANY WARRANTIES FOR VIRUSES OR OTHER HARMFUL COMPONENTS IN
    CONNECTION WITH THE <%= SITE_CONFIG[:site_name] %> SITE OR THE SERVICE.  Some jurisdictions do
    not allow the disclaimer of implied warranties.  In such jurisdictions, some
    of the foregoing disclaimers may not apply to you insofar as they relate to
    implied warranties.


    14. LIMITATIONS OF LIABILITY

    UNDER NO CIRCUMSTANCES SHALL <%= SITE_CONFIG[:site_name] %> BE LIABLE FOR DIRECT, INDIRECT,
    INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES (EVEN IF <%= SITE_CONFIG[:site_name] %>
    HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM ANY
    ASPECT OF YOUR USE OF THE <%= SITE_CONFIG[:site_name] %> SITE OR THE SERVICE, WHETHER THE
    DAMAGES ARISE FROM USE OR MISUSE OF THE <%= SITE_CONFIG[:site_name] %> SITE OR THE SERVICE, FROM
    INABILITY TO USE THE <%= SITE_CONFIG[:site_name] %> SITE OR THE SERVICE, OR THE INTERRUPTION,
    SUSPENSION, MODIFICATION, ALTERATION, OR TERMINATION OF THE <%= SITE_CONFIG[:site_name] %> SITE
    OR THE SERVICE.  SUCH LIMITATION SHALL ALSO APPLY WITH RESPECT TO DAMAGES
    INCURRED BY REASON OF OTHER SERVICES OR PRODUCTS RECEIVED THROUGH OR
    ADVERTISED IN CONNECTION WITH THE <%= SITE_CONFIG[:site_name] %> SITE OR THE SERVICE OR ANY
    LINKS ON THE <%= SITE_CONFIG[:site_name] %> SITE, AS WELL AS BY REASON OF ANY INFORMATION OR
    ADVICE RECEIVED THROUGH OR ADVERTISED IN CONNECTION WITH THE <%= SITE_CONFIG[:site_name] %> SITE
    OR THE SERVICE OR ANY LINKS ON THE <%= SITE_CONFIG[:site_name] %> SITE.  THESE LIMITATIONS SHALL
    APPLY TO THE FULLEST EXTENT PERMITTED BY LAW. In some jurisdictions,
    limitations of liability are not permitted.  In such jurisdictions, some of
    the foregoing limitation may not apply to you.


    15. INDEMNITY

    You agree to indemnify and hold <%= SITE_CONFIG[:site_name] %>, its officers, subsidiaries,
    affiliates, successors, assigns, directors, officers, agents, service
    providers, suppliers and employees, harmless from any claim or demand,
    including reasonable attorney fees and court costs, made by any third party
    due to or arising out of Content you submit, post or make available through
    the Service, your use of the Service, your violation of the Terms, your
    breach of any of the representations and warranties herein, or your
    violation of any rights of another.


    16. GENERAL INFORMATION

    The Terms constitute the entire agreement between you and <%= SITE_CONFIG[:site_name] %> and
    govern your use of the Service, superceding any prior agreements between you
    and <%= SITE_CONFIG[:site_name] %>. The Terms and the relationship between you and <%= SITE_CONFIG[:site_name] %>
    shall be governed by the laws of the State of California without regard to
    its conflict of law provisions. You and <%= SITE_CONFIG[:site_name] %> agree to submit to the
    personal and exclusive jurisdiction of the courts located within the county
    of San Francisco, California. The failure of <%= SITE_CONFIG[:site_name] %> to exercise or
    enforce any right or provision of the Terms shall not constitute a waiver of
    such right or provision. If any provision of the Terms is found by a court
    of competent jurisdiction to be invalid, the parties nevertheless agree that
    the court should endeavor to give effect to the parties' intentions as
    reflected in the provision, and the other provisions of the Terms remain in
    full force and effect. You agree that regardless of any statute or law to
    the contrary, any claim or cause of action arising out of or related to use
    of the Service or the Terms must be filed within one (1) year after such
    claim or cause of action arose or be forever barred.


    17. VIOLATION OF TERMS AND LIQUIDATED DAMAGES

    Please report any violations of the Terms, by flagging the posting(s) for
    review, or by emailing to:

    <%= SITE_CONFIG[:contact_email] %>

    Our failure to act with respect to a breach by you or others does not waive our
    right to act with respect to subsequent or similar breaches.

    You understand and agree that, because damages are often difficult to quantify,
    if it becomes necessary for <%= SITE_CONFIG[:site_name] %> to pursue legal action to enforce these
    Terms, you will be liable to pay <%= SITE_CONFIG[:site_name] %> the following amounts as liquidated
    damages, which you accept as reasonable estimates of <%= SITE_CONFIG[:site_name] %>s' damages for
    the specified breaches of these Terms:

    a. If you post a message that (1) impersonates any person or entity; (2)
    falsely states or otherwise misrepresents your affiliation with a person or
    entity; or (3) that includes personal or identifying information about
    another person without that person's explicit consent, you agree to pay
    <%= SITE_CONFIG[:site_name] %> one thousand dollars ($1,000) for each such message.
    This provision does not apply to messages that are lawful non-deceptive
    parodies of public figures.

    b. If <%= SITE_CONFIG[:site_name] %> establishes limits on the frequency with which you may
    access the Service, or terminates your access to or use of the Service, you
    agree to pay <%= SITE_CONFIG[:site_name] %> one hundred dollars ($100) for each message posted
    in excess of such limits or for each day on which you access <%= SITE_CONFIG[:site_name] %> in
    excess of such limits, whichever is higher.

    c. If you send unsolicited email advertisements to <%= SITE_CONFIG[:site_name] %> email
    addresses or through <%= SITE_CONFIG[:site_name] %> computer systems, you agree to pay
    <%= SITE_CONFIG[:site_name] %> twenty five dollars ($25) for each such email.

    d. If you post messages in violation of these Terms of Use, other than as
    described above, you agree to pay <%= SITE_CONFIG[:site_name] %> one hundred dollars ($100) for
    each such message.  In its sole discretion, <%= SITE_CONFIG[:site_name] %> may elect to issue a
    warning before assessing damages.

    e. If you aggregate, display, copy, duplicate, reproduce, or otherwise
    exploit for any purpose any Content (except for your own Content) in
    violation of these Terms without <%= SITE_CONFIG[:site_name] %>'s express written permission,
    you agree to pay <%= SITE_CONFIG[:site_name] %> three thousand dollars ($3,000) for each day
    on which you engage in such conduct.

    Otherwise, you agree to pay <%= SITE_CONFIG[:site_name] %>'s actual damages, to the extent such
    actual damages can be reasonably calculated. Notwithstanding any other
    provision of these Terms, <%= SITE_CONFIG[:site_name] %> retains the right to seek the remedy
    of specific performance of any term contained in these Terms, or a preliminary
    or permanent injunction against the breach of any such term or in aid of the
    exercise of any power granted in these Terms, or any combination thereof.
    
    18. JOB POSTS

    Refund and Cancellation Policy
    We do not offer refunds for purchases of Job Post subscription accounts. 
    All sales are final. 

    Recurring Billing
    Job Post subscriptions are recurring billing.  Your credit card will be charged 
    $495.00 monthly per job post per university until you unsubscribe.  
    Discounts for multiple university job post advertising may apply.  
    The link to unsubscribe is:
    http://www.calaxes.com/cancel/
  </pre>
</div>
