<div id='main'>
  <div class="container">

  <table class="posts">
    <colgroup>
      <col class='date' />
      <col class='for_sale' />
      <col class='housing' />
      <col class='jobs' />
      <col class='date' />
      <col class='date' />
    </colgroup>
    <tr>
      <th>Date</th>
      <th>For Sale</th>
      <th>Housing</th>
      <th>Jobs</th>
      <th>Created At</th>
      <th>Updated At</th>
    </tr>
    <% @settings.each_with_index do |s, index| %>
      <tr class="row-<%= index % 2 %>">
        <td class='center'><%= s.date %></td>
        <td class='number'><%= s.for_sale %></td>
        <td class='number'><%= s.housing %></td>
        <td class='number'><%= s.jobs %></td>
        <td class='center'><%= s.created_at %></td>
        <td class='center'><%= s.updated_at %></td>
      </tr>
    <% end %>
  </table>
  </div>
</div>

