<%- url = "https://calaxes.formstack.com/forms/js.php?2027328-PUrbc9LOuX-v3&#{formstack_query(post)}" -%>
<script type="text/javascript" src="<%= url %>"></script>

<noscript>
  <%- link = "https://calaxes.formstack.com/forms/open_paid_post_production?#{formstack_query(post)}" -%>
  <a href="<%= link %>" title="Online Form">Online Form - Post - Open Posts With Paid Subscription</a>
</noscript>
