<%- url = "https://calaxes.formstack.com/forms/js.php?form=2023745&viewkey=PUrbc9LOuX&style_version=v3&#{formstack_query(post)}" -%>
<script type="text/javascript" src="<%= url %>"></script>

<noscript>
  <%- link = "https://calaxes.formstack.com/forms/calaxes_open_paid_post_test?#{formstack_query(post)}" -%>
  <a href="<%= link %>" title="Online Form">Online Form - CalAxes Post - Open Posts With Paid Subscription</a>
</noscript>
