<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= SITE_CONFIG[:site_name] %>: Administrator</title>
  <%= csrf_meta_tag %>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
  <%= stylesheet_link_tag 'admin' %>
</head>
<body>

<div class='login-form'>
  <%= content_tag :div, flash[:alert], :class => :error if flash[:alert] %>
  <%= form_tag admin_login_path do -%>
    <div class='field'>
      <%= label_tag :email %>
      <%= text_field_tag :email %>
    </div>
    <div class='field'>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div class='field'>
      <%= submit_tag "Login" %>
    </div>
  <% end %>
</div>

</body>
</html>

