<div id='main'>
  <div class="container">

  <%= form_for(:error, :url => remove_admin_errors_path, :html => { :class => 'error-form' }) do |f| %>
    <%= f.submit 'Remove Old Errors', :name => :remove_old_errors %>
    <%= f.submit 'Clean All Errors',  :name => :clean_all_errors %>
  <% end %>

  <table class="posts">
    <colgroup>
      <col class='error-id' />
      <col class='time' />
      <col class='message' />
      <col class='action' />
    </colgroup>
    <tr>
      <th>ID</th>
      <th>Time</th>
      <th>Error Message</th>
      <th></th>
    </tr>
    <% @errors.each_with_index do |e, index| %>
      <tr class="row-<%= index % 2 %>">
        <td class="center"><%= e.id %></td>
        <td class='center'><%= e.displayed_time %></td>
        <td><%= link_to e.message, admin_error_path(e) %></td>
        <td class='action center'>
          <%= link_to '&times;'.html_safe, admin_error_path(e), :method => :delete, :confirm => 'Are you sure?' %>
        </td>
      </tr>
    <% end %>
  </table>
  </div>
</div>

