<div id='main'>
  <div class="container">
    <%= link_to 'Back', admin_errors_path, :class => 'back-to-errors' %>
    <table class="error-details">
      <tr>
        <th>Name:</th>
        <td><%= @error.name %></td>
      </tr>
      <tr>
        <th>Backtrace:</th>
        <td><%= @error.displayed_backtrace %></td>
      </tr>
    </table>
  </div>
</div>

