<%
  action = params[:action].to_sym
  action = :new  if action == :create
  action = :edit if action == :update || action == :show
  kontroller = params[:controller]
  menu = ActiveSupport::OrderedHash.new
  menu[:overview]        = { :name => "Overview", :link => overview_admin_posts_path }
  menu[:imported]        = { :name => "Imported Posts", :link => imported_admin_posts_path }
  menu[:index]           = { :name => "Manual Posts", :link => admin_posts_path }
  menu[:new]             = { :name => "New Post", :link => new_admin_post_path }
  menu[:edit]            = { :name => "Edit Post", :link => edit_admin_post_path(@post) } if kontroller == 'admin/posts' && action == :edit
  menu[:import_settings] = { :name => "Import Settings", :link => admin_import_settings_path }
  menu[:settings]        = { :name => "Settings", :link => admin_settings_path }
  menu[:errors]          = { :name => "Errors", :link => admin_errors_path }

  if kontroller == 'admin/errors'
    key = :errors
  elsif kontroller == 'admin/import_settings'
    key = :import_settings
  elsif kontroller == 'admin/settings'
    key = :settings
  else
    key = action
  end
  menu[key].merge! :css => :selected
%>

<div id="menu" class="append-bottom">
  <div class="container">
    <% menu.each do |k, v| %>
    <div class="left">
      <%= link_to v[:name], v[:link], :class => "link #{v[:css]}" %>
    </div>
    <% end %>
  </div>
</div>

