<div id="header">
  <div class="container">
    <div class="left">
      <%= link_to logo, root_path, :class => :logo %>
    </div>
    <div class="right">
      <div id="submenu">
        <span class="link"><%= current_user.email %></span>
        <%= link_to "Logout", admin_logout_path, :class => :link %>
      </div>
    </div>
  </div>
</div>

