<footer>
	<nav>
		<ul>
      <li><%= buy_job_post_link "buy job post" %></li>
			<li><%= link_to "about", about_path %></li>
			<li><%= link_to "contact", contact_path %></li>
			<li><%= link_to "privacy", privacy_path %></li>
			<li><%= link_to "terms", terms_path %></li>
			<li><%= link_to "help", help_path %></li>
		</ul>
	</nav>
	<p>a Greg Wientjes production</p>
	<p><%= SITE_CONFIG[:site_name] %> is not sponsored by, endorsed by, or affiliated with <%= SITE_CONFIG[:university] %>.</p>
	<p><%= SITE_CONFIG[:site_name] %> &copy; 2014</p>
</footer>
