<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= SITE_CONFIG[:site_name] %>: Administrator</title>
  <%= csrf_meta_tag %>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
  <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'blueprint/ie' %>
  <![endif]-->
  <%= stylesheet_link_tag :jquery %>
  <%= stylesheet_link_tag 'admin' %>

  <%= yield :css %>

  <%= javascript_include_tag :jquery %>
</head>
<body>
  <%= render 'layouts/admin_header' %>
  <%= render 'layouts/admin_menu' %>
  <%= yield :menu %>
  <%= yield %>
  <%= render 'layouts/admin_footer' %>
  <%= yield :js %>
</body>
</html>
