<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= favicon_link_tag %>
    <%= render 'layouts/stylesheets' %>
    <%# render 'layouts/google_ad_manager' %>
    <%= render 'layouts/googleanalytics' %>
  </head>

  <body>
    <% if Rails.env.staging? %>
      <div class='container staging-warning'>
        This is a testing website. Please visit the main website to use all features correctly.<br>
        Simply remove the subdomain "staging." from the URL to visit the main site or
        please click <%= link_to 'here', SITE_CONFIG[:site_url] %>
      </div>
    <% end %>

    <div class="container">
      <%= render 'layouts/header/header' %>

      <section class="round">
        <%= yield %>
      </section>

      <%= render 'layouts/footer' %>

      <%= debug(params) if Rails.env.development? %><br /><br />
      <%= debug(session) if Rails.env.development? %>
    </div>
  </body>
</html>

