Please click on the web address below to publish your post.<br />
<%= publish_post_url(@post, :security_id => @post.security_id) %><br />
<br />
--------------------------------------------------------------------------------------<br />
<%= @post.name %><br />
Posted on: <%= @post.time %> -- <%= SITE_CONFIG[:university] %><br />
--------------------------------------------------------------------------------------<br />
If you received this in error, please email <%= mail_to SITE_CONFIG[:contact_email], SITE_CONFIG[:contact_email], :subject => SITE_CONFIG[:site_name] %><br />
