<%= @message.message %><br />
<br />
From: <%= @message.info %><br />
<br />
<br />
<br />
<%= @post.name %> - Posted: <%= @post.time %><br />
-------------------------------------------------------------------------------------<br />
To delete your post, use this link and click 'Delete your post.'<br />
<%= delete_post_url(@post, @post.security_id) %><br />
-------------------------------------------------------------------------------------<br />
Caution: This message may not be from this email address. This person's identity is not verified.<br />
If you received this message in error, please email <%= mail_to SITE_CONFIG[:contact_email], SITE_CONFIG[:contact_email], :subject => SITE_CONFIG[:site_name] %>.<br />
