#!/usr/bin/env sh

RAILS_ENV=<%= rails_env.inspect %>
APP_USER=<%= user.inspect %>
APP_ROOT=<%= app_root.inspect %>
RBENV_ROOT=/home/$APP_USER/.rbenv
RBENV_VERSION=<%= fetch :rbenv_ruby %>
PATH=$RBENV_ROOT/shims:$RBENV_ROOT/bin:$PATH

cd $APP_ROOT && bundle exec rake 3taps:cron RAILS_ENV=$RAILS_ENV

