#!/usr/bin/env bash

# NOTE:
# - gsutil must be installed on server
# - must run `gsutil config` and input authenciation code and project id

BUCKET="$1"
if [ -z $BUCKET ]; then
    BUCKET="supost-clones-backup"
fi

echo "================================="
echo "== BACKUP DATABASES $(/bin/date +%Y-%m-%d) =="
echo "================================="

APPS=( <%= config.applications.join(' ') %> )

echo "** Backup databases on server: <%= vps %>"
echo "** Started at: $(/bin/date)"

YEAR=`/bin/date +%Y`
MONTH=`/bin/date +%m`
DATE=`/bin/date +%Y%m%d`

for app in "${APPS[@]}"; do
    echo "** App: $app"
    echo "-> cd ~/pgbackup"
    cd ~/pgbackup

    echo "-> mkdir -p $app"
    mkdir -p $app

    echo "-> cd $app"
    cd $app

    FILENAME=$app-$DATE.sql.gz
    echo "-> /usr/bin/pg_dump -O -U deploy $app | /bin/gzip > \"$FILENAME\""
    /usr/bin/pg_dump -O -U deploy $app | /bin/gzip > $FILENAME

    echo "-> find ./*.sql.gz -mtime +0 -exec rm {} \\;"
    /usr/bin/find ./*.sql.gz -mtime +0 -exec rm {} \;

    echo "-> gsutil cp $FILENAME gs://$BUCKET/$app/$YEAR/$MONTH/$FILENAME"
    /usr/local/bin/gsutil cp $FILENAME "gs://$BUCKET/$app/$YEAR/$MONTH/$FILENAME"
    echo
done;

echo "** Finished at: $(/bin/date)"
