#!/usr/bin/env bash

echo "================================="
echo "== DELETE BACKUPS $(/bin/date +%Y-%m-%d)   =="
echo "================================="

APPS=( <%= config.applications.join(' ') %> )

echo "** Backup databases on server: <%= vps %>"
echo "** Started at: $(/bin/date)"

for app in "${APPS[@]}"; do
    echo "** App: $app"
    echo "-> cd ~/pgbackup"
    cd ~/pgbackup

    echo "-> mkdir -p $app"
    mkdir -p $app

    echo "-> cd $app"
    cd $app

    echo "-> find ./*.sql.gz -mtime +0 -exec rm {} \\;"
    /usr/bin/find ./*.sql.gz -mtime +0 -exec rm {} \;

    echo
done;

echo "** Finished at: $(/bin/date)"
