# use the socket we configured in our unicorn.rb
upstream <%= application %> {
    server unix://<%= unicorn_socket_path %> fail_timeout=0;
}

# configure the virtual host
server {
    listen 80;
    server_name <%= domain %>;
    root <%= public_path %>;
    client_max_body_size 10M;
    keepalive_timeout 5;

    location / {
        try_files $uri @<%= application %>;
    }

    location @<%= application %> {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_pass http://<%= application %>;
    }
}

