#!/bin/sh
### BEGIN INIT INFO
# Provides:          <%= puma_script %>
# Required-Start:    $remote_fs $syslog
# Required-Stop:     $remote_fs $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Manage puma server
# Description:       Start, stop, restart puma server for a specific application.
### END INIT INFO
set -e

# Feel free to change any of the following variables for your app:
TIMEOUT=${TIMEOUT-60}
APP_USER=<%= user.inspect %>
APP_ROOT=<%= app_root.inspect %>
PID=$APP_ROOT/tmp/pids/puma.pid
RBENV_ROOT=/home/$APP_USER/.rbenv
RBENV_VERSION=<%= fetch :rbenv_ruby %>
PATH=$RBENV_ROOT/shims:$RBENV_ROOT/bin:$PATH
CMD="cd $APP_ROOT && bundle exec puma -e <%= rails_env %> -q -d -C $APP_ROOT/config/puma.rb --dir $APP_ROOT"

set -u

OLD_PID="$PID.oldbin"

sig () {
    test -s "$PID" && kill -$1 `cat $PID`
}

oldsig () {
    test -s $OLD_PID && kill -$1 `cat $OLD_PID`
}

run () {
    if [ "$(id -un)" = "$APP_USER" ]; then
        eval $1
    else
        su -c "$1" - $APP_USER
    fi
}

case "$1" in
start)
    sig 0 && echo >&2 "Already running" && exit 0
    run "$CMD"
    ;;
stop)
    sig QUIT && exit 0
    echo >&2 "Not running"
    ;;
restart)
    sig USR2 && echo Restarted OK && exit 0
    echo >&2 "Couldn't restart, starting '$CMD' instead"
    run "$CMD"
    ;;
*)
    echo >&2 "Usage: $0 <start|stop|restart>"
    exit 1
    ;;
esac

