#!/usr/bin/env puma

# Start Puma with next command:
# RAILS_ENV=production bundle exec puma -e production -C ./config/puma.rb

root = <%= app_root.inspect %>

quiet

directory root

pidfile         "#{root}/tmp/pids/puma.pid"

state_path      "#{root}/tmp/pids/puma.state"

stdout_redirect "#{root}/log/puma.log", "#{root}/log/puma.log"

bind            "unix://#{root}/tmp/sockets/puma.sock"

