<div class="post_links">
	<%= link_to "post to classifieds", new_post_path %>
	<p><%= SITE_CONFIG[:symbol_email] %> free</p>
	<%= buy_job_post_link %>
</div>
<div class='count'>
  <span><%= link_to @count_this_week || "", posts_path  %></span> posts this week
</div>
<%= render "shared/navigation/overview",
           :category_activity => @category_activity %>
<%= render "shared/navigation/categories",
           :category_activity => @category_activity %>

