<header>
  <table>
    <tr>
      <td class="logo">
        <%= link_to logo, root_path %>
      </td>
      <td class="bluebar">
        <%= render 'layouts/header/search' %>
        <h1><%= homepage_title %></h1>
        <nav><%= link_to "post", new_post_path %></nav>
      </td>
    </tr>
    <tr class="bread_crumbs">
      <td colspan="2">
        <nav><%= show_breadcrumb(@post) %></nav>
        <%= render 'layouts/header/time' %>
      </td>
    </tr>
  </table>
</header>
